block cardsAdvantages

.cards__advantages-outer
  each card in cards
    .cards__advantages
      img.cards__advantages--img(src=card.img, alt='')
      .cards__advantages--body
        p.cards__advantages--header
          | #{card.name}
        p.cards__advantages--descr
          | #{card.descr}
