.cards__service-outer
  .cards__service-column
    .cards__service
      .cards__service__head
        h3.cards__service-header CPO
        img.cards__service-img(src="./assets/img/svg/badge__sro.svg", alt="", srcset="")
      .cards__service__body
        .cards__service__link-wrapper
          .cards__service__link-descr
            img.cards__service__link-img(src="./assets/img/svg/doc-to.svg", alt="")
            | Вступление в СРО
          a.cards__service__link-outer(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewbox='0 0 18 14')
              g
                g
                  path(fill='#00699e' d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
        .cards__service__link-wrapper
          .cards__service__link-descr
            img.cards__service__link-img(src="./assets/img/svg/doc-to.svg", alt="")
            | Специалисты для СРО
          a.cards__service__link-outer(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewbox='0 0 18 14')
              g
                g
                  path(fill='#00699e' d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
    .cards__service
      .cards__service__head
        h3.cards__service-header Лицензирование
        img.cards__service-img(src="./assets/img/svg/badge__license.svg", alt="", srcset="")
      .cards__service__body
        .cards__service__link-wrapper
          .cards__service__link-descr
            img.cards__service__link-img(src="./assets/img/svg/doc-to.svg", alt="")
            | Оформление лицензии МЧС
          a.cards__service__link-outer(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewbox='0 0 18 14')
              g
                g
                  path(fill='#00699e' d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
        .cards__service__link-wrapper
          .cards__service__link-descr
            img.cards__service__link-img(src="./assets/img/svg/doc-to.svg", alt="")
            | Оформление лицензии ФСБ
          a.cards__service__link-outer(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewbox='0 0 18 14')
              g
                g
                  path(fill='#00699e' d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
        .cards__service__link-wrapper
          .cards__service__link-descr
            img.cards__service__link-img(src="./assets/img/svg/doc-to.svg", alt="")
            | Оформление лицензии Минкульт
          a.cards__service__link-outer(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewbox='0 0 18 14')
              g
                g
                  path(fill='#00699e' d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
    .cards__service
      .cards__service__head
        h3.cards__service-header Сертификация
        img.cards__service-img(src="./assets/img/svg/badge__certificate.svg", alt="", srcset="")
      .cards__service__body
        .cards__service__link-wrapper
          .cards__service__link-descr
            img.cards__service__link-img(src="./assets/img/svg/doc-to.svg", alt="")
            | ISO 9001 (ГОСТ Р ИСО 9001)
          a.cards__service__link-outer(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewbox='0 0 18 14')
              g
                g
                  path(fill='#00699e' d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
        .cards__service__link-wrapper
          .cards__service__link-descr
            img.cards__service__link-img(src="./assets/img/svg/doc-to.svg", alt="")
            | РПО
          a.cards__service__link-outer(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewbox='0 0 18 14')
              g
                g
                  path(fill='#00699e' d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')

  .cards__service-column
    .cards__service
      .cards__service__head
        h3.cards__service-header Обучение кадров
        img.cards__service-img(src="./assets/img/svg/badge__staff.svg", alt="", srcset="")
      .cards__service__body
        .cards__service__link-wrapper
          .cards__service__link-descr
            img.cards__service__link-img(src="./assets/img/svg/doc-to.svg", alt="")
            | Повышение квалификации
          a.cards__service__link-outer(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewbox='0 0 18 14')
              g
                g
                  path(fill='#00699e' d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
        .cards__service__link-wrapper
          .cards__service__link-descr
            img.cards__service__link-img(src="./assets/img/svg/doc-to.svg", alt="")
            | Аттестация по электробезопасности
          a.cards__service__link-outer(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewbox='0 0 18 14')
              g
                g
                  path(fill='#00699e' d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
        .cards__service__link-wrapper
          .cards__service__link-descr
            img.cards__service__link-img(src="./assets/img/svg/doc-to.svg", alt="")
            | Аттестация по промышленной безопасности
          a.cards__service__link-outer(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewbox='0 0 18 14')
              g
                g
                  path(fill='#00699e' d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
        .cards__service__link-wrapper
          .cards__service__link-descr
            img.cards__service__link-img(src="./assets/img/svg/doc-to.svg", alt="")
            | Вступление в СРО
          a.cards__service__link-outer(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewbox='0 0 18 14')
              g
                g
                  path(fill='#00699e' d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
        .cards__service__link-wrapper
          .cards__service__link-descr
            img.cards__service__link-img(src="./assets/img/svg/doc-to.svg", alt="")
            | Профессиональная переподготовка
          a.cards__service__link-outer(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewbox='0 0 18 14')
              g
                g
                  path(fill='#00699e' d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
        .cards__service__link-wrapper
          .cards__service__link-descr
            img.cards__service__link-img(src="./assets/img/svg/doc-to.svg", alt="")
            | Охрана труда и ПТМ
          a.cards__service__link-outer(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewbox='0 0 18 14')
              g
                g
                  path(fill='#00699e' d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
    .cards__service
      .cards__service__head
        h3.cards__service-header Юридические услуги
        img.cards__service-img(src="./assets/img/svg/badge__judicial.svg", alt="", srcset="")
      .cards__service__body
        .cards__service__link-wrapper
          .cards__service__link-descr
            img.cards__service__link-img(src="./assets/img/svg/doc-to.svg", alt="")
            | Регистрация юридических лиц
          a.cards__service__link-outer(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewbox='0 0 18 14')
              g
                g
                  path(fill='#00699e' d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
        .cards__service__link-wrapper
          .cards__service__link-descr
            img.cards__service__link-img(src="./assets/img/svg/doc-to.svg", alt="")
            | Претезионная работа
          a.cards__service__link-outer(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewbox='0 0 18 14')
              g
                g
                  path(fill='#00699e' d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
        .cards__service__link-wrapper
          .cards__service__link-descr
            img.cards__service__link-img(src="./assets/img/svg/doc-to.svg", alt="")
            | Судебное представительство
          a.cards__service__link-outer(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewbox='0 0 18 14')
              g
                g
                  path(fill='#00699e' d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
