.row.card__product-outer
  .col-md-6.col-12
    .card__product.--big
      p.card__product-title Банковские гарантии по 44–ФЗ
      .--big-wrapper
        ul.card__product-list
          li.card__product-list--item
            svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
              path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
            span Выпуск банковской гарантии за 1–3 дня
          li.card__product-list--item
            svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
              path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
            span Банковская гарантия без залога, открытия счета и 	поручительства
          li.card__product-list--item
            svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
              path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
            span Индивидуальные условия сотрудничества для 	каждого клиента
        .card__product--additionals
          span.card__product--additionals-item
            .card__product--additionals-top 94%
            .card__product--additionals-descr Одобренных <br /> заявок
          span.card__product--additionals-item
            .card__product--additionals-top 92%
            .card__product--additionals-descr Повторных <br /> сообщений
          span.card__product--additionals-item
            .card__product--additionals-top 900 млн. руб.
            .card__product--additionals-descr Максимальная сумма
      button.btn.btn__bankguaranties-about(data-target='#modalform', data-toggle="modal")
        | Получить консультацию
        .btn__bankguaranties-about-arrow
          svg.btn__bankguaranties-about-svg(xmlns='http://www.w3.org/2000/svg', width='18', height='14', viewBox='0 0 18 14')
            g
              g
                path(d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
  .col-md-6.col-12
    .card__product
      p.card__product-title Банковские гарантии по 223–ФЗ и 185–ФЗ
      ul.card__product-list
        li.card__product-list--item
          svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
            path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
          span Работа со сложными заказчиками
        li.card__product-list--item
          svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
            path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
          span Подбор банков под конкретную сделку
        li.card__product-list--item
          svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
            path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
          span Согласование сделок на уровне руководства банка
      button.btn.btn__bankguaranties-about(data-target='#modalform', data-toggle="modal")
        | Получить консультацию
        .btn__bankguaranties-about-arrow
          svg.btn__bankguaranties-about-svg(xmlns='http://www.w3.org/2000/svg', width='18', height='14', viewBox='0 0 18 14')
            g
              g
                path(d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
    .card__product
      p.card__product-title Банковские гарантии по коммерческим контрактам
      ul.card__product-list
        li.card__product-list--item
          svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
            path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
          span Моментальный анализ сделки
        li.card__product-list--item
          svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
            path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
          span Предложение конкретного плана действия для решения 	задачи
        li.card__product-list--item
          svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
            path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
          span Персональный менеджер с опытом работы по аналогичным сделкам
      button.btn.btn__bankguaranties-about(data-target='#modalform', data-toggle="modal")
        | Получить консультацию
        .btn__bankguaranties-about-arrow
          svg.btn__bankguaranties-about-svg(xmlns='http://www.w3.org/2000/svg', width='18', height='14', viewBox='0 0 18 14')
            g
              g
                path(d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
.row
  .col-md-4.col-12
    .card__product--mini
      .card__product--mini-body
        .card__product--mini-info
          p.card__product--mini-title Тендерный займ
          p.card__product--mini-subtitle 5 площадок
        img.card__product--mini-img(src="./assets/img/svg/bank-tender.svg")
      button.btn.btn__bankguaranties-about(data-target='#modalform', data-toggle="modal")
          | Получить консультацию
          .btn__bankguaranties-about-arrow
            svg.btn__bankguaranties-about-svg(xmlns='http://www.w3.org/2000/svg', width='18', height='14', viewBox='0 0 18 14')
              g
                g
                  path(d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
  .col-md-4.col-12
    .card__product--mini
      .card__product--mini-body
        .card__product--mini-info
          p.card__product--mini-title Кредит на <br> исполнение
        img.card__product--mini-img(src="./assets/img/svg/bank-credit.svg")
      button.btn.btn__bankguaranties-about(data-target='#modalform', data-toggle="modal")
          | Получить консультацию
          .btn__bankguaranties-about-arrow
            svg.btn__bankguaranties-about-svg(xmlns='http://www.w3.org/2000/svg', width='18', height='14', viewBox='0 0 18 14')
              g
                g
                  path(d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
  .col-md-4.col-12
    .card__product--mini
      .card__product--mini-body
        .card__product--mini-info
          p.card__product--mini-title Открытие <br> специального счета
        img.card__product--mini-img(src="./assets/img/svg/bank-billing.svg")
      button.btn.btn__bankguaranties-about(data-target='#modalform', data-toggle="modal")
          | Получить консультацию
          .btn__bankguaranties-about-arrow
            svg.btn__bankguaranties-about-svg(xmlns='http://www.w3.org/2000/svg', width='18', height='14', viewBox='0 0 18 14')
              g
                g
                  path(d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
