@import "utils/vars";
@import "utils/libs";
@import "utils/mixins";
@import "utils/fonts";


html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  overflow-x: hidden;
}

body {
  min-width: 320px;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


button {
  &:focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

b,
strong {
  font-weight: bold;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Modules
@import "modules/typography";
@import "modules/header";
@import "modules/screen/screen-main__index";
@import "modules/cards/cards__advantage";
@import "modules/badge__service";
@import "modules/screen/screen-main__company";
@import "modules/screen/screen-main__comfort";
@import "modules/slider/slider-main__actions";
@import "modules/screen/screen-main__order-consult";
@import "modules/list/horizontal-list";
@import "modules/form/form__order-consult";
@import "modules/screen/screen__reviews";
@import "modules/slider/slider__reviews";
@import "modules/screen/screen__news";
@import "modules/screen/screen__get-consult";
@import "modules/footer";
@import "modules/menu/menu-mobile";
@import "modules/breadcrumbs/breadcrumbs";
@import "modules/article/article-body";
@import "modules/news/news-another";
@import "modules/pagintation";
@import "modules/contacts/contacts";
@import "modules/news/news-card";
@import "modules/cards/cards-docs";
@import "modules/document/document-body";
@import "modules/review/review-body";
@import "modules/screen/screen__services";
@import "modules/cards/cards-service";
@import "modules/screen/screen-landing__index";
@import "modules/screen/screen-landing__advantages";
@import "modules/screen/screen-landing__servicepacks";
@import "modules/screen/screen-landing__timeline";

//
.--white {
  color: #fff
}
