.horizontal {
  &-list {
    display: flex;
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    &__outer {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &--wrapper {
      h3 {
        color: #fff;
        font-family: "ProximaLt";
        font-size: rem(40);
        font-weight: 700;
        line-height: rem(50);
        margin-bottom: 5px;

        @include media-breakpoint-down(lg) {
          font-size: rem(30);
          line-height: rem(35);
          margin-bottom: 20px;
        }
      }
    }

    &--item {
      display: flex;
      align-items: center;
      color: #ffffff;
      // font-family: "ProximaLt";
      font-size: rem(18);
      font-weight: 600;
      line-height: rem(30);

      @include media-breakpoint-down(md) {
        margin-bottom: 15px;
      }

      .svg-inline--fa {
        display: block;
        width: 18px;
        height: 18px;
        margin-right: 8px;
      }
    }
  }
}
