.menu {
  &-mobile {
    &__wrapper {
      display: none;
      flex-direction: column;
      width: 100%;
      height: calc(100vh - 180px);
      margin: 30px 0 50px;
      padding: 0 10px;
      overflow: auto;

      &.is-active {
        display: flex;
      }

      >.tabs__menu {
        >.tabs__menu-item {
          flex: 1 0 50%
        }
      }
    }

    &__link {
      margin-bottom: 25px;

      &--dropdown {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &--a {
        width: 100%;
        color: #6d7783;
        font-family: 'ProximaLt';
        font-size: rem(16);
        font-weight: 600;
        text-decoration: none;

        &:hover {
          cursor: pointer;
        }

        &.is-active {
          color: #00aaff;
          text-decoration: none;
        }

        &.--dropdown {
          &:not(.collapsed) {
            color: #00aaff;
            text-decoration: none;

            ~img {
              transform: rotate(0deg)
            }
          }
        }
      }

      &--img {
        transform: rotate(180deg);
        transition: 0.3s all ease-in-out;
      }

      &-wrapper {
        width: 100%;
        padding: 35px 25px 0;
      }

      &--outer {
        margin-top: 15px;
        padding: 20px 10px;
        border: 1px solid #e9ebef;
        border-radius: 1px;
        background-color: #f3f5f9;
      }
    }

    &__contacts {
      &-wrapper {
        width: 100%;
        padding: 25px 10px 50px;
        border-top: 1px solid #dfe2e5;
      }

      &-item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 18px;

        &:nth-last-child(1) {
          margin-bottom: 0;
        }

        &-svg {
          position: relative;
          top: 7px;
          margin-right: 16px;
        }

        &-descr {
          color: #0d1116;
          font-family: 'ProximaRegular';
          font-size: rem(16);
          font-weight: 400;
          line-height: rem(24);
        }
      }
    }
  }
}

.tabs {
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &-link {
      @extend .tabs__news-link;
      padding: 10px 50px;
    }

    &-tab {
      @extend .tabs__news-tab;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
    }

    &-content {
      height: 100%;
    }
  }
}
