article.article
  figure.article__head
    img.article__img(src="./assets/img/article-img.jpg", alt="", srcset="")
    .article__img-filter
    figcaption.article__caption
      h1
        | Условия сертификации продукции, выпускаемой в
        | домашних условиях
  .article__body
    .article__info
      .article__info-date
        svg.svg-inline--fa.fa-calendar.fa-w-14(data-icon='calendar' data-prefix='far' role='img' aria-hidden='true' width='14' height='16' focusable='false' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 448 512')
          path(fill='#00aaff' d='M400 64h-48V12c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v52H160V12c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v52H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zm-6 400H54c-3.3 0-6-2.7-6-6V160h352v298c0 3.3-2.7 6-6 6z')
        | 21.05.2019
      .article__info-views
        svg.svg-inline--fa.fa-eye.fa-w-18(data-icon='eye' data-prefix='far' role='img' aria-hidden='true' width='14' height='16' focusable='false' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 576 512')
          path(fill='#00aaff' d='M288 144a110.94 110.94 0 0 0-31.24 5 55.4 55.4 0 0 1 7.24 27 56 56 0 0 1-56 56 55.4 55.4 0 0 1-27-7.24A111.71 111.71 0 1 0 288 144zm284.52 97.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400c-98.65 0-189.09-55-237.93-144C98.91 167 189.34 112 288 112s189.09 55 237.93 144C477.1 345 386.66 400 288 400z')
        | 116
    p В конце августа этого года было опубликован документ, разработанный сотрудниками Министерства сельского хозяйства (Минсельхоза) России, касающийся утверждения регламента Россельхознадзора по регистрационному учету государством генно-инженерно-модифицированных организмов (ГМО), применяемых для выращивания кормов и изготовления лекарств для животных.
    p Документ – приказ №366 от 26 июля 2017 года – был разработан специалистами ведомства и регламентирует работу по предоставлению услуг, связанных с регистрацией новых ГМО, используемых для создания новых лекарственных средств, новых сортов кормовых культур, новых типов витаминных добавок для животных, кормовых культур, полученных с помощью методов генетической модификации.
    p
      <iframe width="100%" height="480" src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    p В опубликованном приказе Минсельхоза России говорится, что свидетельства о регистрации ГМО, необходимых для производства кормов и лекарств для животных, будут выдаваться на длительный срок, равный 10 годам. Ранее срок действия разрешений составлял 5 лет с опцией возможного продления.
    p Кроме того, в новом документе имеются и другие нововведения. К примеру, был уменьшен максимально возможный срок предоставления госуслуги по выдаче свидетельства и проверке точности пакета документов, которые прилагаются к заявлению о регистрации ГМО. Теперь этот промежуток времени составляет не 75 дней, а 45 суток. Помимо этого, обязательным условием регистрации теперь является наличие в пакете предоставляемых документов заключения о биологической безопасности регистрируемого ГМО, а также подтвержденные результаты его молекулярно-генетического исследования.
    img(src="./assets/img/article-exm.jpg", alt="")
    p В приказе уточняется, что при регистрации ГМО заявитель должен предоставить весь пакет документов в электронном виде, с обязательным подтверждением электронной подписью, в том числе с помощью электронного портала «Госуслуги».
    p В том случае, если пакет документов о регистрации ГМО оформлен правильно, государственные службы обязаны принять документы заявителя в установленные законодательством сроки.
    p Приказ №366 вступил в силу 4 сентября этого года. Вместе с началом действия этого нормативно-правового акта прекращается действие другого документа – приказа Министерства сельского хозяйства от 6 октября 2009 года №466, который регламентировал вопросы регистрации ГМО, нужных для производства кормов и лекарств для животных.
