.slider {
  &-landing {
    &__partners {
      height: 155px;
      padding-bottom: 55px;

      &-item {
        display: flex;
        justify-content: center;
        align-items: center;

        &-img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &--pagination {
        @extend .slider-main__actions--pagination;

        &--bullet {
          @extend .slider-main__actions--pagination--bullet;

          &--active {
            @extend .slider-main__actions--pagination--bullet--active;
          }
        }
      }
    }
  }
}
