@import "node_modules/swiper/src/swiper";
@import "node_modules/swiper/src/components/pagination/pagination";
@import "node_modules/swiper/src/components/navigation/navigation";

.slider {
  &-main {
    &__actions {
      @include make-container();
      @include make-container-max-widths();
      overflow: visible;
      padding-right: 0;
      padding-left: 0;
      padding-top: 75px;
      padding-bottom: 40px;

      @include media-breakpoint-down(sm) {
        padding-right: 10px;
        padding-left: 10px;
      }

      &--slide {
        display: flex;
        padding: 70px 130px;
        background: #fff;
        border-radius: 1px;

        &:not(.swiper-slide-active) {
          opacity: 0;
        }

        @include media-breakpoint-down(lg) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        @include media-breakpoint-down(sm) {
          padding: 65px 15px;
        }

        &--img {
          width: 100%;
          height: 100%;
          max-width: 134px;
          max-height: 128px;
          margin-right: 60px;

          @include media-breakpoint-down(lg) {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
          }
        }

        &--header {
          color: #20242e;
          font-family: "ProximaLt";
          font-size: rem(40);
          font-weight: 700;
          line-height: rem(30);
          margin-bottom: rem(16);

          @include media-breakpoint-down(lg) {
            text-align: center;
            font-size: rem(30);
            line-height: rem(35);
          }


        }

        &--descr {
          opacity: 0.7;
          color: #20242e;
          font-family: "ProximaRegular";
          font-size: rem(24);
          font-weight: 400;
          line-height: rem(35);
          margin-bottom: 30px;

          @include media-breakpoint-down(lg) {
            text-align: center;
            font-size: rem(22);
            line-height: rem(30);
          }
        }

        .btn__services {
          background-color: #f3f5f9;

          @include media-breakpoint-down(lg) {
            margin-left: auto;
            margin-right: auto;
          }
        }

        &--next,
        &--prev {
          position: absolute;
          z-index: 2;

          &:hover {
            cursor: pointer;
          }

          @include media-breakpoint-up(xl) {
            top: -240px;
          }

          @include media-breakpoint-down(xl) {
            top: -24px;
          }
        }

        &--next {
          > img {
            transform: rotate(180deg)
          }

          @include media-breakpoint-up(xl) {
            right: -50px;
          }

          @include media-breakpoint-down(xl) {
            right: 0;
          }

          @include media-breakpoint-down(xs) {
            right: 10px !important;
          }
        }

        &--prev {
          @include media-breakpoint-up(xl) {
            left: -50px;
          }

          @include media-breakpoint-down(xl) {
            left: 0;
          }

          @include media-breakpoint-down(xs) {
            left: 10px !important;
          }
        }
      }

      &--pagination {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        &--bullet {
          width: 15px;
          height: 15px;
          margin-right: 15px;
          border-radius: 50%;
          background-color: #bec4ca;

          &:nth-last-child(1) {
            margin-right: 0;
          }

          &--active {
            background-color: #00aaff;
          }
        }
      }

      &--controls {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    }
  }
}
