section.pagination__wrapper
  .container
    .pagination__outer
      a.btn__pagination--move(href='#')
        | Назад
      a.btn__pagination.is-active(href='#')
        | 1
      a.btn__pagination(href='#')
        | 2
      a.btn__pagination(href='#')
        | 3
      a.btn__pagination(href='#')
        | ...
      a.btn__pagination(href='#')
        | 10
      a.btn__pagination--move(href='#')
        | Вперед
