section.contacts
  .container
    .row
      .map__wrapper
        #map.map
      .contacts__list
        .contacts__list--item
          h2.header__h2 Контакты
        .contacts__list--item
            svg.contacts__list--item-svg(width='18' height='18' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:avocode='https://avocode.com/' viewbox='0 0 18 18')
              g
                g
                  g
                    path(d='M17.023,12.488c-0.63,-0.015 -1.423,-0.052 -1.924,-0.14c-0.542,-0.096 -1.194,-0.282 -1.653,-0.425c-0.36,-0.112 -0.752,-0.013 -1.019,0.253l-2.217,2.204c-1.532,-0.807 -2.759,-1.747 -3.798,-2.792c-1.045,-1.039 -1.985,-2.266 -2.792,-3.798l2.204,-2.218c0.266,-0.267 0.365,-0.659 0.253,-1.019c-0.142,-0.458 -0.329,-1.11 -0.424,-1.652c-0.089,-0.501 -0.125,-1.294 -0.141,-1.924c-0.013,-0.545 -0.457,-0.977 -1.002,-0.977h-3.51c-0.438,0 -1,0.328 -1,1c0,4.539 1.84,8.874 4.966,12.034c3.16,3.126 7.495,4.966 12.034,4.966c0.672,0 1,-0.562 1,-1v-3.51c0,-0.545 -0.432,-0.989 -0.977,-1.002z' fill='#00aaff' fill-opacity='1')
            p.contacts__list--item-descr
              | 8&nbsp;800&nbsp;777 33 99
              br
              | +7&nbsp;495&nbsp;681 39 33
        .contacts__list--item
          svg.contacts__list--item-svg(width='20', height='16', xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/', viewBox='0 0 20 16')
            g
              g
                g
                  path(d='M18,4l-8,5l-8,-5v-2l8,5l8,-5zM18,0h-16c-1.105,0 -2,0.895 -2,2v12c0,1.105 0.895,2 2,2h16c1.105,0 2,-0.895 2,-2v-12c0,-1.105 -0.895,-2 -2,-2z', fill='#00aaff', fill-opacity='1')
          p.contacts__list--item-descr
            | support@24sro.ru
        .contacts__list--item
          svg.contacts__list--item-svg(width='20', height='21', xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/', viewBox='0 0 20 21')
            g
              g
                g
                  path(d='M2.80078,14l-2.80078,7h20l-2.80078,-7h-2.38672c-0.485,0.731 -0.97192,1.408 -1.41992,2h2.45508l1.19922,3h-14.09375l1.19921,-3h2.45508c-0.448,-0.592 -0.93492,-1.269 -1.41992,-2zM9.99501,3.85743c1.18124,0 2.13759,0.95635 2.13759,2.13759c0,1.18024 -0.95734,2.13759 -2.13759,2.13759c-1.18024,0 -2.13759,-0.95635 -2.13759,-2.13759c0,-1.18124 0.95635,-2.13759 2.13759,-2.13759zM10,0c-3.314,0 -6,2.686 -6,6c0,4.286 6,11 6,11c0,0 6,-6.714 6,-11c0,-3.314 -2.686,-6 -6,-6z', fill='#00aaff', fill-opacity='1')
          p.contacts__list--item-descr
            | Москва, Пресненская<br>
            | набережная, дом 6,<br>
            | строение 2, офис 1620
        .contacts__list--item
          svg.contacts__list--item-svg(xmlns='http://www.w3.org/2000/svg' width='19' height='21' viewbox='0 0 19 21')
            g
              g
                path(fill='#0af' d='M12 14c.564 0 1 .436 1 1 0 .564-.436 1-1 1-.564 0-1-.436-1-1 0-.564.436-1 1-1zm0-2c-1.645 0-3 1.355-3 3 0 .876.392 1.662 1 2.213v3.592l2-1.25 2 1.25v-3.592c.608-.55 1-1.337 1-2.213 0-1.645-1.355-3-3-3zm-6 0v2h2v-2zm0-4v2h9V8zM3 0C1.346 0 0 1.346 0 3v2h2v13h5v-2H4V5h11V3c0-.551.448-1 1-1 .565 0 1 .435 1 1v15h2V3c0-1.645-1.355-3-3-3z')
          p.contacts__list--item-descr
            | ОГРН: 1177746696038<br>
            | ИНН: 7703430440<br>
            | КПП: 770301001
