.screen {
  &__timeline {
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
  }
}

.timeline {
  &__wrapper {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }
}

.progress {
  &-marker {
    &:after {
      z-index: 0;
    }

    &:before {
      padding-bottom: 0;
      font-family: "ProximaRegular";
      font-size: rem(12);
      font-weight: 700;

    }
  }
}


.form {
  &__steps {
    width: 100%;
    padding: 55px 50px 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    background-color: #ffffff;

    &-step {
      .header__h2 {
        margin-bottom: 30px;
        text-align: center;
      }
    }

    &-label {
      display: flex;
      align-items: center;
      width: 100%;
      height: 55px;
      padding: 0 15px;
      margin-bottom: 25px;
      border-radius: 1px;
      border: 1px solid #dfe2e5;
      background-color: rgba(233, 235, 239, 0.5);
      color: #979fa8;
      font-family: "ProximaRegular";
      font-size: rem(20);
      font-weight: 400;

      &.is-checked {
        border: 1px solid #1eb283;
        color: #20242e;

        >.form__steps-check {
          display: block;
        }
      }

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }

    &-input {
      &-radio {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        border: none;
        z-index: -1;
      }
    }

    &-check {
      display: none;
      margin-right: 0;
      margin-left: auto;
    }
  }
}
