.screen {
  &__landing {
    padding: 135px 0 140px;
    background-size: cover;

    @media screen and (max-width: 1999px) and (max-height: 768px) {
      height: 100%;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 155px;
      padding: 75px 0 50px;
    }

    .header__h1 {
      margin-top: 45px;
      margin-bottom: 20px;

      @include media-breakpoint-down(sm) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .subheader {
      font-size: rem(36);
      font-weight: 700;
      line-height: rem(45);
      margin-bottom: 40px;
    }

    .form__order-consult {
      bottom: 0;
      padding-left: 50px;
      padding-right: 50px;

      @include media-breakpoint-down(sm) {
        padding-left: 15px;
        padding-right: 15px;
      }

      .subform {
        text-align: left;
        font-size: rem(14);
        font-weight: 400;
        line-height: rem(20);
        margin-top: 30px;
        margin-bottom: 0;
      }
    }
  }
}

.list {
  &__header {
    font-size: rem(36);
    font-weight: 700;
    line-height: rem(45);
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    font-family: "ProximaLt";
    font-size: rem(19);
    font-weight: 600;
    line-height: rem(36);
    margin-bottom: 5px;

    @include media-breakpoint-down(sm) {
      align-items: flex-start;
    }

    .fa-check {
      width: 16px;
      height: 16px;
      margin-right: 20px;

      @include media-breakpoint-down(sm) {
        margin-top: 10px;
        margin-right: 0;
      }
    }

    p {
      @include media-breakpoint-down(sm) {
        text-indent: 20px;
      }
    }

    span {
      color: #fff;
    }
  }
}
