.screen {
  &__accreditations {
    padding: 120px 0 140px
  }
}

.accreditation {
  display: block;
  width: 100%;
  max-width: 180px;
  min-width: 180px;
  height: auto;
  margin-right: 20px;
  margin-bottom: 20px;

  &__outer {
    @include make-row();

    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 50px;
    overflow: auto;

    // @include media-breakpoint-down(xl) {
    //   justify-content: space-between;
    // }

    // @include media-breakpoint-down(lg) {
    //   flex-direction: column;
    //   align-items: center;
    // }
  }
}
