.screen {
  &-main {
    &__company {
      padding-bottom: 135px;

      h2 {
        margin-top: 120px;
      }
    }
  }
}

.courses {
  &__list {
    margin-top: 25px;

    &-item {
      color: #6d7783;
      font-family: "ProximaLt";
      font-size: rem(26);
      font-weight: 600;
      line-height: rem(36);

      .svg-inline--fa {
        margin-right: 40px;
      }
    }
  }
}

.services {
  &__terms {
    position: relative;
    width: 580px;
    height: 486px;
    margin-top: 35px;
    padding: 85px 50px 55px 50px;
    background-size: 100%;
    background-repeat: no-repeat;

    &:nth-child(1) {
      background-color: #00aaff;
    }

    &:nth-last-child(1) {
      background-color: #00699e;
    }

    &--img {
      position: absolute;
      top: 25px;
      right: 25px;
    }

    &--header {
      color: #ffffff;
      font-family: "ProximaRegular";
      font-size: rem(40);
      font-weight: 700;
      line-height: rem(50);
    }

    &--descr {
      opacity: 0.7;
      color: #ffffff;
      padding: 55px 0 45px;
      font-family: "ProximaRegular";
      font-size: rem(24);
      font-weight: 400;
      line-height: rem(30);
    }
  }
}

.btn {
  &__services {
    @extend .btn__consult;

    background: #fff;
    color: #00699e;

    &-arrow {
      @extend .btn__consult-arrow;

      background-color: rgba(32, 36, 46, 0.1);
    }

    &-svg {
      fill: #00699e
    }
  }
}
