.section {
  &__steps {
    padding: 80px 0 100px;

    .header__h2 {
      width: 100%;
      margin-bottom: 55px;
      text-align: center;
    }
  }
}

.step {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 0;

  &::after {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% + 50px);
    top: 35px;
    left: 27px;
    border: 1px dashed #979fa8;

    @include media-breakpoint-down(xs) {
      left: 48px;
    }
  }

  &.no-after {
    &::after {
      display: none;
    }
  }

  @include media-breakpoint-down(xs) {
    padding: 0 30px;
  }

  &__wrapper {
    margin-bottom: 50px;
  }

  &__bullet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    min-width: 36px;
    height: 36px;
    min-height: 36px;
    border-radius: 50%;
    background-color: #4385f5;
    color: #fff;
    font-family: "ProximaRegular";
    font-size: rem(20);
    font-weight: 700;
  }

  &__name {
    margin: 6px 0 0 25px;
    color: #20242e;
    font-family: "ProximaRegular";
    font-size: rem(20);
    font-weight: 700;
    line-height: rem(25);
  }

  &__description {
    margin: 6px 0 0 30px;
    color: #20242e;
    font-family: "ProximaRegular";
    font-size: rem(16);
    font-weight: 400;
    line-height: rem(25);
  }
}
