.screen {
  &__partners {
    padding: 120px 0 140px;

    .subheader {
      margin: 30px 0;
      color: #6d7783;
      font-family: "ProximaRegular";
      font-size: rem(30);
      font-weight: 600;
      line-height: 1;
    }
  }
}
