.screen {
  &__timeline {
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
  }
}

.timeline {
  &__wrapper {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }
}

.progress {
  &-marker {
    &:after {
      z-index: 0;
    }

    &:before {
      padding-bottom: 0;
      font-family: "ProximaRegular";
      font-size: rem(12);
      font-weight: 700;

    }
  }
}
