.screen {
  &__accreditations {
    padding: 120px 0 140px
  }
}

.accreditation {
  display: block;
  width: 100%;
  max-width: 180px;
  height: auto;
  margin-right: 20px;
  margin-bottom: 20px;

  &:nth-child(6n) {
    margin-right: 0;
  }

  @include media-breakpoint-down(xl) {
    margin-right: 0px;
  }

  &__outer {
    @include make-row();

    display: flex;
    justify-content: flex-start;
    margin-top: 50px;

    @include media-breakpoint-down(xl) {
      justify-content: space-between;
    }

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: center;
    }
  }
}
