@import 'node_modules/bootstrap/scss/_transitions';

.screen {
  &__news {
    padding-top: 130px;
    padding-bottom: 105px;

    h2 {
      color: #20242e;
      font-family: "ProximaRegular";
      font-size: rem(40);
      font-weight: 700;
      line-height: rem(50);
      margin-bottom: 45px;
    }
  }
}

.tabs {
  &__news {
    width: 100%;
    display: flex;
    justify-content: center;

    &-item {
      display: block;
      width: 100%;
      max-width: 200px;
      height: 100%;
      height: 55px;

      @include media-breakpoint-down(lg) {
        max-width: 165px;
      }
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: #00699e;
      font-family: "ProximaTh";
      font-size: rem(16);
      text-transform: uppercase;
      border-radius: 1px 0 0 1px;
      background-color: #f3f5f9;

      &:hover {
        cursor: pointer;
        color: #00699e;
        text-decoration: none;
      }

      &.active {
        color: #fff;
        background-color: #00aaff;
      }
    }

    &-content {
      margin: 55px auto 0;
    }

    &-tab {
      display: flex;
      justify-content: space-between;

      @include media-breakpoint-down(lg) {
        justify-content: center;
      }

      &:not(.active) {
        display: none;
      }

      &--link {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 280px;
        height: 180px;

        @include media-breakpoint-down(lg) {
          max-width: 355px;
          height: 190px;
          margin: 10px 5px 0;
        }

        @include media-breakpoint-down(md) {
          padding: 0;
          margin: 0 auto 10px;
        }

        p {
          display: none;
          margin: 25px 35px;
          color: #ffffff;
          font-family: "ProximaRegular";
          font-size: rem(25);
          font-weight: 700;
          z-index: 1;

          @include media-breakpoint-down(md) {
            display: block;
          }
        }
      }

      &--img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }

    &-more {
      margin: 45px auto 0;
      max-width: 266px;

      .tabs__news-link {
        padding: 13px 30px 12px;
      }
    }
  }
}
