.screen {
  &__faq {
    padding: 140px 0 100px;
  }
}

.faq {

  &__wrapper {
    margin-top: 45px;
  }

  &__item {
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin-bottom: 10px;

    &.is-collapsed {
      background-color: #f9f9f9;
      border: 1px solid #f9f9f9;

      .faq__item-header-trigger {
        color: #000;
      }

      .faq__item-opener {
        background-color: #00aaff;

        &:after {
          transform: rotate(0deg);
        }

        &:before {
          transform: rotate(90deg)
        }
      }

      .faq__item-collapse {
        display: none;
      }
    }

    &-header {
      position: relative;
      display: block;
      width: 100%;
      z-index: 1;

      &-trigger {
        display: block;
        width: 100%;
        padding: 25px;
        color: #00699e;
        font-family: "ProximaTh";
        font-size: rem(18);
        font-weight: 600;
        z-index: 1;

        &:hover {
          cursor: pointer;
          text-decoration: none;
        }

        @include media-breakpoint-down(sm) {
          width: 95%;
        }
      }
    }

    &-opener {
      position: absolute;
      top: 50%;
      right: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-50%);
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #00699e;
      z-index: -1;

      &:before,
      &:after {
        position: absolute;
        content: ' ';
        height: 15px;
        width: 3px;
        background-color: #fff;
        transform: rotate(90deg);
        transition: all .3s ease
      }


    }

    &-body {
      padding: 20px 25px 25px;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 380px;
    height: 55px;
    margin: 30px auto 0;
    border-radius: 1px;
    background-color: #00aaff;
    color: #fff;
    font-family: "ProximaLt";
    font-size: rem(16);
    text-transform: uppercase;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  &__search {
    position: relative;
    margin-bottom: 45px;

    &-icon {
      position: absolute;
      left: 15px;
      top: 15px;

      @include media-breakpoint-down(md) {
        left: unset;
        right: 15px;
      }
    }

    &-input {
      width: 100%;
      height: 100%;
      max-height: 55px;
      padding: 15px 180px 10px 50px;
      border-radius: 1px;
      border: 1px solid #dfe2e5;
      background-color: rgba(233, 235, 239, 0.5);
      font-family: "ProximaRegular";
      color: #20242e;
      font-size: rem(20);
      font-weight: 400;

      &::placeholder {
        color: #979fa8;
      }

      @include media-breakpoint-down(md) {
        padding-left: 15px;
        padding-right: 55px;
      }
    }

    &-btn {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 180px;
      height: 100%;
      max-height: 55px;
      padding: 15px 12px;
      border: 1px solid #00aaff;
      border-radius: 1px;
      background-color: #00aaff;
      color: #ffffff;
      font-family: "ProximaTh";
      font-size: rem(16);
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
      }

      @include media-breakpoint-down(md) {
        max-width: 55px;
        font-size: 0;
      }

      &--icon {
        display: none;

        @include media-breakpoint-down(md) {
          display: block;
        }
      }
    }
  }

}
