.screen {
  &-main {
    &__order {
      &-consult {
        padding-top: 105px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        h2 {
          color: #ffffff;
          font-family: "ProximaLt";
          font-size: rem(60);
          font-weight: 700;
          line-height: rem(60);
          margin-bottom: 56px;

          @include media-breakpoint-down(md) {
            text-align: left;
          }
        }
      }
    }
  }
}
