.cards {
  &__advantages {
    display: flex;
    width: 100%;
    max-width: 580px;
    margin-bottom: 20px;
    padding: 35px 25px 40px;
    border-radius: 1px;
    background-color: rgba($color: #e9ebef, $alpha: .5);

    &.white {
      padding-top: 25px;
      padding-bottom: 35px;
      background-color: #fff;

      .cards__advantages--header {
        color: #20242e;
      }

      .cards__advantages--img {
        width: 45px;
        height: 45px;
      }
    }

    &-outer {
      @include make-row();
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 50px;

      @include media-breakpoint-down(lg) {
        flex-direction: column;
        align-items: center;
      }
    }

    &--body {
      margin-left: 25px;
    }

    &--img {
      display: block;
      width: 10px;
      height: 10px;
      min-width: 50px;
      min-height: 65px;
      margin: 0 auto;
    }

    &--header {
      margin-bottom: 15px;
      color: #00699e;
      font-family: "ProximaLt";
      font-size: rem(30);
      font-weight: 700;
    }

    &--descr {
      color: #6d7783;
      font-family: "ProximaRegular";
      font-size: rem(16);
      font-weight: 400;
      line-height: rem(22);
      margin-bottom: 0;
    }
  }
}
