extends ../layout/fullpage

block variables
  - var title = 'Страница не найдена';
  - var description = 'error';
  - var pageClass = '404-page';

block content
  include ../includes/modules/screens/screen-404
