extends ../layout/documents

block variables
  - var title = 'exp24 documents';
  - var description = 'documents page';
  - var pageClass = 'documents-page';

block content
  include ../includes/modules/breadcrumbs/breadcrumbs.pug
  include ../includes/modules/cards/cards-docs.pug
