extends ../layout/main

block variables
  - var title = 'exp24';
  - var description = 'Main page';
  - var pageClass = 'index-page';

block content
  include ../includes/modules/screens/screen-main__index.pug
  include ../includes/modules/screens/screen-main__company.pug
  include ../includes/modules/screens/screen-main__comfort.pug
  include ../includes/modules/screens/screen-main__order-consult.pug
  include ../includes/modules/screens/screen__reviews.pug
  include ../includes/modules/screens/screen__news.pug
  include ../includes/modules/screens/screen__get-consult.pug
