extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  include ../includes/modules/screens/screen-main__index.pug
  include ../includes/modules/screens/screen-main__company.pug
