extends ../layout/main

block variables
  - var title = 'exp24';
  - var description = 'Main page';
  - var pageClass = 'index-page';
  - var timeHeader = 'Расчёт стоимости';
  - var stepsHeader = 'Этапы работы';
  - var steps = [{"name":"Оставить заявку", "descr":"После оставления заявки, наш менеджер свяжется с вами и обсудит все детали."},{"name":"Согласовать услугу", "descr":"Для начала нужно будет согласовать услугу. Менеджер вам детально расскажет про каждую нашу услугу все плюсы и минусы и тд."},{"name":"Заключить договор и оплатить счет", "descr":"После согласования услуги. Нужно будет заключить договор любым удобным для вас способом - онлайн на нашем сайте либо у нас на офисе."},{"name":"Готовим и подаем документы в НРС", "descr":"После подписания договора и оплаты, мы собираем все докумендны и готовим их к подаче в НРС."},{"name":"Получить уведомление о готовности документов", "descr":"Как только документы будут готовы, мы сразу уведомим вас. Вы сможете их забрать у нас на офисе в любое время."}];

block content
  include ../includes/modules/screens/screen-landing__index
  include ../includes/modules/screens/screen-landing__advantages
  include ../includes/modules/screens/screen-landing__servicepacks
  include ../includes/modules/screens/screen-landing__timeline
  include ../includes/modules/screens/screen-landing__steps
  include ../includes/modules/screens/screen-landing__you-get
  include ../includes/modules/screens/screen-landing__faq
  include ../includes/modules/screens/screen__reviews
  include ../includes/modules/screens/screen-landing__partners
  include ../includes/modules/screens/screen-landing__accreditations
  include ../includes/modules/screens/screen-landing__additional-order
  include ../includes/modules/screens/screen__news
  include ../includes/modules/screens/screen__get-consult
