extends ../layout/main

block variables
  - var title = 'exp24';
  - var description = 'Specialists page';
  - var pageClass = 'specialists-page';
  - var timeHeader = 'Расчет стоимости внесения<br> Ваших специалистов';
  - var services = [{img:"./assets/img/svg/speccheck.svg",title:"Проверка специалистов",descr:"Проверим документы Ваших специалистов на соответствие требованиям НРС, предотвратим получение отказа"},{img:"./assets/img/svg/specsearch.svg",title:"Подбор специалистов",descr:"Найдем уже внесенного в НРС специалиста с оформлением в штат или без"},{img:"./assets/img/svg/specadd.svg",title:"Внесение специалистов",descr:"Подготовим весь необходимый пакет документов на Вашего специалиста и гарантированно внесем его в НРС"},{img:"./assets/img/svg/specspeed.svg",title:"Ускорение внесения специалистов",descr:"Если вы уже подали документы и ждете внесения - мы ускорим за 24 часа"},{img:"./assets/img/svg/specrepeat.svg",title:"Обжалование отказа",descr:"В случае если Вы получили отказ - мы можем провести проверку документов, устранить ошибки и обжаловать отказ"},{img:"./assets/img/svg/specdoc.svg",title:"Подготовка документов",descr:"Сделаем все необходимые документы, проведем повышение квалификации и проконсультируем по всем вопросам"}];
  - var servicesHeader = 'Наши услуги';
  - var advantagesClass = 'white';
  - var advantagesBackgorundColor = '#e8eaee';
  - var advantagesHeader = 'Почему выбирают нас?';
  - var cardsAdvantages = [{"name": "Официально","descr": "Мы работаем по договору где прописываем гарантии и цену, поэтому вы можете быть уверены в положительном результате","img": "./assets/img/svg/adv__officcial--alt.svg"},{"name": "Быстро","descr": "Мы имеем огромный опыт работы, и поэтому можем быстро и правильно собрать весь пакет документов","img": "./assets/img/svg/adv__fast--alt.svg"},{"name": "Удобно","descr": "Наши специалисты возьмут на себя всё взаимодействие с НРС, подготовят необходимые документы","img": "./assets/img/svg/adv__comfort--alt.svg"},{"name": "Выгодно","descr": "Гибкая ценовая политика и индивидуальный подход к каждой ситуации гарантируют самые выгодные условия на наши услуги","img": "./assets/img/svg/adv__reliably--alt.svg"},{"name": "Надежно","descr": "Наши специалисты реальные люди, соответствующие всем требованиям НРС, что гарантирует прохождение проверки СРО","img": "./assets/img/svg/adv__profitable--alt.svg"},{"name": "Безопасно","descr": "Мы даем 100% гарантию внесения специалистов и прописываем ее в договоре","img": "./assets/img/svg/adv__safely--alt.svg"}];

block content
  include ../includes/modules/screens/screen-specialists__index
  include ../includes/modules/screens/screen-specialists__services
  include ../includes/modules/screens/screen-specialists__timeline
  include ../includes/modules/screens/screen-landing__advantages
  include ../includes/modules/screens/screen-landing__steps
  include ../includes/modules/screens/screen-landing__faq
  include ../includes/modules/screens/screen-landing__additional-order
  include ../includes/modules/screens/screen__news
  include ../includes/modules/screens/screen__get-consult
