extends ../layout/main

block variables
  - var title = 'exp24';
  - var description = 'Specialists page';
  - var pageClass = 'specialists-page';
  - var timeHeader = 'Расчет стоимости внесения Ваших специалистов';
  - var services = [{img:"./assets/img/svg/speccheck.svg",title:"Проверка специалистов",descr:"Проверим документы Ваших специалистов на соответствие требованиям НРС, предотвратим получение отказа"},{img:"./assets/img/svg/specsearch.svg",title:"Подбор специалистов",descr:"Найдем уже внесенного в НРС специалиста с оформлением в штат или без"},{img:"./assets/img/svg/specadd.svg",title:"Внесение специалистов",descr:"Подготовим весь необходимый пакет документов на Вашего специалиста и гарантированно внесем его в НРС"},{img:"./assets/img/svg/specspeed.svg",title:"Ускорение внесения специалистов",descr:"Если вы уже подали документы и ждете внесения - мы ускорим за 24 часа"},{img:"./assets/img/svg/specrepeat.svg",title:"Обжалование отказа",descr:"В случае если Вы получили отказ - мы можем провести проверку документов, устранить ошибки и обжаловать отказ"},{img:"./assets/img/svg/specdoc.svg",title:"Подготовка документов",descr:"Сделаем все необходимые документы, проведем повышение квалификации и проконсультируем по всем вопросам"}];

block content
  include ../includes/modules/screens/screen-specialists__index
  include ../includes/modules/screens/screen-specialists__services
  include ../includes/modules/screens/screen-landing__timeline
  include ../includes/modules/screens/screen-landing__advantages
  include ../includes/modules/screens/screen-landing__steps
  include ../includes/modules/screens/screen-landing__faq
  include ../includes/modules/screens/screen-landing__additional-order
  include ../includes/modules/screens/screen__news
  include ../includes/modules/screens/screen__get-consult
