extends ../layout/fullpage

block variables
  - var title = 'Спасибо!';
  - var description = 'Thank you';
  - var pageClass = 'ty-page';

block content
  include ../includes/modules/screens/screen-ty
