@import "node_modules/bootstrap/scss/_navbar";

.header {
  position: fixed;
  width: 100%;
  height: 95px;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 10;

  @include media-breakpoint-down(lg) {
    height: auto;
  }

  &__upper {
    display: none;
    width: 100%;
    padding: 10px 15px;
    background-color: #00699e;

    @include media-breakpoint-down(lg) {
      display: block;

      .navbar-contacts {
        justify-content: flex-start;

        &__phone {
          color: #fff;
          font-family: "ProximaLt";
          font-size: rem(16);
          font-weight: 600;
          text-transform: uppercase;
        }

        &__callback {
          width: 100%;
          max-width: 156px;
          margin-left: auto;
          margin-right: 0;
          padding: 12px 10px 10px;
          border: none;
          border-radius: 1px;
          background-color: $accent;
          color: #fff;
          font-size: rem(14);
          text-transform: uppercase;
        }
      }
    }

    @include media-breakpoint-down(xs) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.navbar {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;

  &-nav {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-between(lg, xl) {
      margin: 0 auto;
    }


    &__wrapper {
      width: 100%;
      justify-content: space-between;
    }
  }

  &-brand {
    padding: 0;
    margin: 0 35px 0 0;
    font-size: 0;
  }

  @include media-breakpoint-down(lg) {
    padding: 25px 15px 20px;
  }

  @include media-breakpoint-down(xs) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.nav {
  &-item {
    &.is-active {
      .nav-link {
        color: $accent;
      }
    }
  }

  &-link {
    font-family: "ProximaRegular";
    color: #6d7783;
    font-size: rem(21);
    font-weight: 400;

    @include media-breakpoint-down(xl) {
      font-size: rem(16)
    }
  }
}

.navbar-contacts {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__img {
    width: 26px;
    height: 26px;
    margin-right: 10px;
  }

  &__phone {
    display: block;
    width: 165px;
    color: #0d1614;
    margin-right: 25px;
    font-family: "ProximaLt";
    font-size: rem(20);
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
      color: #0d1614;
    }
  }

  &__callback {
    width: 100%;
    max-width: 196px;
    padding: 13px 20px 11px 20px;
    border: none;
    border-radius: 1px;
    background-color: $accent;
    color: #fff;
    font-size: rem(16);
    text-transform: uppercase;
  }
}


.hamburger {
  display: none;

  @include media-breakpoint-down(lg) {
    display: block;
  }
}
