h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "ProximaRegular";
  margin-bottom: 0;
}

.header {
  &__h1 {
    color: #20242e;
    font-size: rem(60);
    font-weight: 700;
    line-height: rem(60);

    @include media-breakpoint-down(lg) {
      font-size: rem(40);
      line-height: rem(45);
    }
  }

  &__h2 {
    color: #20242e;
    font-size: rem(40);
    font-weight: 700;
    line-height: rem(50);

    @include media-breakpoint-down(lg) {
      font-size: rem(30);
      font-weight: 700;
      line-height: rem(35);
    }
  }
}

.text-center {
  text-align: center;
}
