section.screen__main
  .container
    .row
      .screen__main-outer
        h1.header__h1.header__main
          | Хороший юридический
          | консалтинг для вас и
          | вашего бизнеса
        p.subheader__main
          | Помогаем в решении юридических задач различного<br>
          | уровня сложности уже более 5 лет.
        button.btn.btn__consult(data-target='#modalform', data-toggle="modal")
          | Получить консультацию
          .btn__consult-arrow
            img(src="./assets/img/svg/arrow-right-white.svg", alt="")
        img.scroll(src="./assets/img/svg/scroll-down.svg", alt="", srcset="")
    img.main-img(src="./assets/img/svg/Illustration.svg", alt="")
