section.screen__partners(style='background-color: #fff')
  .container
    .row
      h2.header__h2.col-12.text-center Наши партнеры
      p.subheader.col-12.text-center Мы аккредитованы во всех СРО России,<br> вот некоторые из них:
    include ../sliders/slider-landing__partners.pug
