section.section__permission(style='background-color: #f3f5f9;')
  .container
    .row.section__permission-outer
      h2.header__h2 Как быстро оформить допуск СРО?
      .permission__outer
        ul.progress-tracker.progress-tracker--text.progress-tracker--text-top.progress-tracker--center
          li.progress-step
            .progress-text
              | Заявка
            .progress-marker.--through
          li.progress-step
            .progress-text
              | Договор
            .progress-marker.--through
          li.progress-step
            .progress-text
              | Сбор документов
            .progress-marker.--through
          li.progress-step
            .progress-text
              | Оплата
            .progress-marker.--through
          li.progress-step
            .progress-text
              | Получение выписки
            .progress-marker.--through
        .permission__card-wrapper
          .permission__card
            p.permission__card-counter 1
            p.permission__card-header Оставить<br> заявку
            svg.permission__card-svg(width='50' height='50' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 50 50' fill='#00aaff' fill-opacity='1')
              g
                g
                  g
                    path(d='M38.99586,35v4h-4v2h4v4h2v-4h4v-2h-4v-4zM39.99586,32c4.42969,0 8,3.57031 8,8c0,4.42969 -3.57031,8 -8,8c-4.42969,0 -8,-3.57031 -8,-8c0,-4.42969 3.57031,-8 8,-8zM39.99586,30c-5.51172,0 -10,4.48828 -10,10c0,5.51172 4.48828,10 10,10c5.51172,0 10,-4.48828 10,-10c0,-5.51172 -4.48828,-10 -10,-10zM13.99586,30v2h16v-2zM6.99586,30v2h4v-2zM13.99586,25v2h23v-2zM6.99586,25v2h4v-2zM13.99586,20v2h23v-2zM6.99586,20v2h4v-2zM13.99586,15v2h23v-2zM6.99586,15v2h4v-2zM2.80836,2h38.375c0.46484,0 0.8125,0.34766 0.8125,0.8125v4.1875h-40v-4.1875c0,-0.46484 0.34766,-0.8125 0.8125,-0.8125zM2.80836,0c-1.53516,0 -2.8125,1.27734 -2.8125,2.8125v5c-0.00781,0.0625 -0.00781,0.125 0,0.1875v32c0,0.55078 0.44922,1 1,1h26c0.35937,0.00391 0.69531,-0.18359 0.87891,-0.49609c0.17968,-0.3125 0.17968,-0.69532 0,-1.00782c-0.1836,-0.3125 -0.51954,-0.5 -0.87891,-0.49609h-25v-30h40v18c-0.00391,0.35938 0.18359,0.69531 0.49609,0.87891c0.3125,0.17968 0.69532,0.17968 1.00782,0c0.3125,-0.1836 0.5,-0.51953 0.49609,-0.87891v-19c0.00781,-0.0625 0.00781,-0.125 0,-0.1875v-5c0,-1.53516 -1.27734,-2.8125 -2.8125,-2.8125z')
          .permission__card
            p.permission__card-counter 2
            p.permission__card-header Заключить<br> договор
            svg.permission__card-svg(width='50' height='50' xmlns='http://www.w3.org/2000/svg', viewBox='0 0 49.058 49.022' fill='#00aaff' fill-opacity='1')
              g(transform='translate(-0.975)')
                path(d='M25.4,49.022a.977.977,0,0,1-.7-.293.988.988,0,0,1-.238-.965l1.655-5.882a1,1,0,0,1,.275-.429L41.535,26.318l-.031-.031.674-.7a4.03,4.03,0,0,1,5.7,5.7l-.122.092V31.4a1.012,1.012,0,0,1-.275.368L31.972,47.151a.987.987,0,0,1-.429.275l-5.884,1.562A.913.913,0,0,1,25.4,49.022ZM42.915,27.7h0L27.958,42.678l-.031.122,2.881,2.788L45.857,30.637,42.915,27.7ZM23.557,40.2H.986a.982.982,0,0,1-.981-.98V7.844a.791.791,0,0,1,0-.184v-4.9A2.732,2.732,0,0,1,.82.815,2.736,2.736,0,0,1,2.764,0H40.4A2.781,2.781,0,0,1,43.16,2.758v4.9a.7.7,0,0,1,0,.184V21.569a.989.989,0,0,1-.487.862.995.995,0,0,1-.988,0,.988.988,0,0,1-.486-.862V8.824H1.967V38.236H23.557a.98.98,0,1,1,0,1.96ZM2.764,1.961a.779.779,0,0,0-.8.8v4.1H41.2v-4.1a.779.779,0,0,0-.8-.8ZM32.371,31.372H13.737v-1.96H32.371v1.959Zm-21.577,0H6.872v-1.96h3.923v1.959Zm25.5-4.9H13.737V24.51H36.294v1.96Zm-25.5,0H6.872V24.51h3.923v1.96Zm25.5-4.9H13.737V19.607H36.294v1.96Zm-25.5,0H6.872V19.607h3.923v1.96Zm25.5-4.9H13.737V14.706H36.294v1.96Zm-25.5,0H6.872V14.706h3.923v1.96Z', transform='translate(0.975)')
          .permission__card
            p.permission__card-counter 3
            p.permission__card-header Отправить нам<br> документы
            svg.permission__card-svg(width='50' height='50' xmlns='http://www.w3.org/2000/svg', viewBox='0 0 50 50' fill='#00aaff' fill-opacity='1')
              path(d='M49,50H1a1,1,0,0,1-1-1V20a.985.985,0,0,1,.344-.75l.268-.239.03-.027c3.278-2.915,6.353-5.643,9.14-8.11,4.482-3.965,9.707-8.566,10.562-9.281A7.2,7.2,0,0,1,25,0a7.13,7.13,0,0,1,4.656,1.594c1.172.98,9.057,7.955,10.625,9.344,4.32,3.825,8.368,7.419,8.986,7.968l.382.339.006.005A.985.985,0,0,1,50,20V49A1,1,0,0,1,49,50ZM25,29a5.588,5.588,0,0,0-3.375,1.219C20.09,31.417,2.16,45.438,2,45.563V48H48V45.563c-.036-.028-17.945-14.032-19.624-15.344A5.59,5.59,0,0,0,25,29Zm23-5.969L35.281,33.094c2.677,2.093,5.507,4.3,7.922,6.188l.021.016c2.353,1.837,4.072,3.18,4.776,3.732Zm-46,0v20l3.766-2.942.554-.433.627-.489c2.543-1.986,5.21-4.069,7.772-6.072ZM30.031,29l.046.036.046.036.227.178.141.111.011.008.4.31,0,0c.635.5,1.785,1.4,2.755,2.161l6.343-5V19H10v7.844l6.344,5c.767-.6,1.636-1.281,2.732-2.144l.031-.023.331-.26c.186-.148.347-.274.474-.373L19.968,29H15c-.04,0-.068,0-.094,0a1,1,0,0,1-.773-1.646A1,1,0,0,1,14.812,27h20.2a1,1,0,1,1,0,2H30.031ZM8.906,17H41a1,1,0,0,1,1,1v7.25l6-4.75v-.063l-.888-.785-.185-.163-.377-.333c-2.982-2.629-5.4-4.764-7.611-6.719L36.849,10.59l0,0-.55-.486c-3.842-3.4-7.339-6.492-7.919-6.976A5.117,5.117,0,0,0,25,2a5.114,5.114,0,0,0-3.375,1.125c-.616.514-5.714,5.02-9.811,8.641l-.005.005-.113.1-.148.13-.168.149-.009.006-.246.218C5.986,16.917,2.3,20.176,2,20.437V20.5l6,4.75V18a1,1,0,0,1,.813-1Zm5.953,7.01a1.016,1.016,0,0,1-1-.869A1.011,1.011,0,0,1,14.719,22H35.01a1,1,0,1,1,0,2H15A1.182,1.182,0,0,1,14.86,24.01Z')
          .permission__card
            p.permission__card-counter 4
            p.permission__card-header Оплатить<br> взносы в СРО
            svg.permission__card-svg(width='50' height='50' xmlns='http://www.w3.org/2000/svg', viewBox='0 0 60.537 47.379' fill='#00aaff' fill-opacity='1')
              g(transform='translate(-0.311 -0.311)')
                path(d='M55.268,47.379H27.636a5.274,5.274,0,0,1-5.268-5.269V28.958H5.269A5.275,5.275,0,0,1,0,23.689V5.269A5.275,5.275,0,0,1,5.269,0H32.9a5.275,5.275,0,0,1,5.269,5.269V18.421h17.1a5.274,5.274,0,0,1,5.269,5.268V42.11A5.275,5.275,0,0,1,55.268,47.379ZM25.01,31.584V42.11a2.6,2.6,0,0,0,2.626,2.627H55.268a2.6,2.6,0,0,0,2.626-2.627V31.584Zm2.626-10.521a2.592,2.592,0,0,0-2.572,2.093,2.729,2.729,0,0,0-.054.534V26.32H57.894V23.689a2.6,2.6,0,0,0-2.626-2.626Zm-24.995-7.9V23.689a2.6,2.6,0,0,0,2.627,2.627h17.1V23.689a5.148,5.148,0,0,1,.108-1.056,5.293,5.293,0,0,1,5.16-4.212h7.89V13.163ZM5.269,2.642A2.6,2.6,0,0,0,2.642,5.269V7.9H35.527V5.269A2.6,2.6,0,0,0,32.9,2.642Z', transform='translate(0.311 0.311)')
          .permission__card
            p.permission__card-counter 5
            p.permission__card-header Получить скан<br> выписки
            svg.permission__card-svg(width='50' height='50' xmlns='http://www.w3.org/2000/svg', viewBox='0 0 50 50.001' fill='#00aaff' fill-opacity='1')
              path(d='M31,50H0V8H18.406l.313.281,12,12,.281.312V50ZM2,10V48H29V22H17V10Zm17,1.437h0V20h8.563L19,11.437ZM50,42H33V40H48V14H36V2H21V8L19,6V0H37.406L50,12.594V42ZM38,3.406h0V12h8.594L38,3.407Z')
