section.screen__get-consult
  .container
    .row
      .col-6.offset-1
        include ../list/horizontal-list.pug
      .col-5.btn__get-consult-wrapper
        button.btn.btn__get-consult
          | Получить консультацию
          .btn__get-consult-arrow
            svg.btn__get-consult-svg(xmlns='http://www.w3.org/2000/svg', width='18', height='14', viewBox='0 0 18 14')
              g
                g
                  path(d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
