- var steps = [{"name":"Оставить заявку", "descr":"После оставления заявки, наш менеджер свяжется с вами и обсудит все детали."},{"name":"Согласовать услугу", "descr":"Для начала нужно будет согласовать услугу. Менеджер вам детально расскажет про каждую нашу услугу все плюсы и минусы и тд."},{"name":"Заключить договор и оплатить счет", "descr":"После согласования услуги. Нужно будет заключить договор любым удобным для вас способом - онлайн на нашем сайте либо у нас на офисе."},{"name":"Готовим и подаем документы в НРС", "descr":"После подписания договора и оплаты, мы собираем все докумендны и готовим их к подаче в НРС."},{"name":"Получить уведомление о готовности документов", "descr":"Как только документы будут готовы, мы сразу уведомим вас. Вы сможете их забрать у нас на офисе в любое время."}];

section.section__steps(style='background-color: #f3f5f9;')
  .container
    .row
      .col-12
        h2.header__h2 Этапы работы
    each step, index in steps
      - var after = (index === steps.length-1 ? 'no-after' : '');
      .row.step__wrapper
        .col-lg-3.offset-lg-2.step(class=after)
          .step__bullet #{index + 1}
          p.step__name #{step.name}
        p.d-none.d-lg-block.col-lg-5.step__description #{step.descr}
