section.screen__landing.screen-404(style="background-image: url('./assets/img/bg__landing.jpg')")
  .container
    .row
      .col-xl-7.col-12
        h1.header__h1.--white
          | Ошибка
        p.subheader.--white
          | Страница не найдена
