section.screen__mchs-get-alt(style="background-color: #f3f5f9")
  .container
    .row
      .col-12
        .screen__mchs-get-alt-card.d-none.d-md-flex
          .screen__mchs-get-alt-card--body
            h2.header__h2 100% гарантия получения
            p.screen__mchs-get-alt-card--body-descr По статистике Москвы, лицензирующий орган отказывает каждому пятому предпринимателю из-за ошибок в документах. Если делать всё самому, легко потерять время и уплаченную пошлину.
            p.screen__mchs-get-alt-card--body-descr Нашим клиентам ни разу не отказывали, поэтому мы гарантируем получение лицензии с первого раза или вернём деньги за услугу.
          .screen__mchs-get-alt-card-img
            img(src="../../../../assets/img/svg/shield-big.svg", alt="")
        .screen__mchs-get-alt-card.d-md-none
          .screen__mchs-get-alt-card--head
            h2.header__h2 100% гарантия получения
            .screen__mchs-get-alt-card-img
              img(src="../../../../assets/img/svg/shield-big.svg", alt="")
          .screen__mchs-get-alt-card--body
            p.screen__mchs-get-alt-card--body-descr По статистике Москвы, лицензирующий орган отказывает каждому пятому предпринимателю из-за ошибок в документах. Если делать всё самому, легко потерять время и уплаченную пошлину.
            p.screen__mchs-get-alt-card--body-descr Нашим клиентам ни разу не отказывали, поэтому мы гарантируем получение лицензии с первого раза или вернём деньги за услугу.
