section.screen__get-consult
  .container
    .row
      .col-12.col-lg-6.offset-lg-1
        p.screen__get-consult--preheading Закажите допуск СРО по телефону
        p.screen__get-consult--heading 8 800 777 34 34
        p.screen__get-consult--subheading или закажите обратный звонок — мы перезвоним вам.
      .col-12.col-lg-5.btn__get-consult-wrapper
        include ../form/form__leave-request
