section.screen__faq(style='backgorund-color: #fff')
  .container
    .row
      h2.header__h2.col-12.text-center Часто задаваемые вопросы
      .offset-lg-2.col-lg-8.col-12.faq__outer
        .faq__wrapper
          .faq__search
            img.faq__search-icon(src='/assets/img/svg/search.svg')
            input.faq__search-input(type="text", placeholder="Поиск")
            button.faq__search-btn Найти
              svg.faq__search-btn--icon(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 20 20')
                g
                  g
                    path(fill='#fff' d='M8 1.6c3.544 0 6.4 2.856 6.4 6.4 0 3.544-2.856 6.4-6.4 6.4A6.388 6.388 0 0 1 1.6 8c0-3.544 2.856-6.4 6.4-6.4zM8 0C3.591 0 0 3.591 0 8s3.591 8 8 8c1.917 0 3.678-.68 5.058-1.81l4.776 4.776a.8.8 0 1 0 1.132-1.132l-4.777-4.776A7.958 7.958 0 0 0 16 8c0-4.409-3.591-8-8-8z')

          .faq__item.is-collapsed
            .faq__item-header
              a.faq__item-header-trigger.collapsed
                | Требования к специалистам для внесения в НРС:
              .faq__item-opener
            .faq__item-collapse
              .faq__item-body
                | pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
          .faq__item.is-collapsed
            .faq__item-header
              a.faq__item-header-trigger.collapsed
                | Требования к организации, получающей допуск СРО
              .faq__item-opener
            .faq__item-collapse
              .faq__item-body
                | cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
          .faq__item.is-collapsed
            .faq__item-header
              a.faq__item-header-trigger.collapsed
                | Список документов для вступления в СРО
              .faq__item-opener
            .faq__item-collapse
              .faq__item-body
                | reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
        a.faq__btn(href='#') Смотреть все
