section.screen-main__order-consult(style="background-image: url('../../../../assets/img/bg_order-consult.jpg')")
  .container
    .row
      h2.text-center.col-12 1800 компаний обращается <br> к нам ежегодно
    .row
      .col-12.col-lg-6.horizontal-list__outer
        include ../list/horizontal-list.pug
      .col-12.col-lg-6
        include ../form/form__order-consult.pug
