section.screen__accreditations(style='background-color: #e8eaee;')
  .container
    .row
      h2.header__h2.col-12.text-center Наши акредитации
    .accreditation__outer
      each val in [1, 2, 3, 4, 5]
        img.accreditation(src="./assets/img/accreditation.jpg", alt="")
