section.screen__additional-order(style='background-color: #f3f5f9')
  .container
    .row
      h2.header__h2.col-12.text-center Дополнительно вы можете оформить:
    include ../sliders/slider__additional-order
