extends ./screen__landings.pug

block variablesLanding
  - var header = 'Предоставим специалистов внесенных в НРС или гарантированно внесем ваших';
  - var subheader = '';
  - var list =['Внесение в <span> НОСТРОЙ </span> и <span> НОПРИЗ </span> от 1-ого дня.', 'Предоставление специалистов, внесенных в НРС за час.', 'Работаем по всей России, <span>100%</span> гарантия по договору!'];
  - var headerForm = 'Узнать условия внесения Ваших специалистов в НРС';
