section.screen__additional-order(style='background-color: #f3f5f9')
  .container
    .row
      h2.header__h2.col-12.text-center Дополнительно вы можете оформить:
    .additional-order__outer
      .swiper-wrapper
        .additional-order.swiper-slide
          p.additional-order--header Справка о наличии (отсутствии) судимости
          .additional-order--body
            p.additional-order--descr
              | Результатом предоставления государственной услуги является получение
              | заявителем: справки о наличии (отсутствии) судимости (в том числе погашенной и снятой) и (или) факта уголовного преследования либо о прекращении уголовного преследования или письма об отказе в выдаче справки о наличии (отсутствии) судимости
            .additional-order--info
              .additional-order--info__wrapper
                img.additional-order-svg(src="/assets/img/svg/clock.svg", alt="", srcset="")
                .additional-order--info__descr
                  p.additional-order--info__descr-mini Срок:
                  p.additional-order--info__descr 5 дней
              .additional-order--info__wrapper
                img.additional-order-svg(src="/assets/img/svg/price.svg", alt="", srcset="")
                .additional-order--info__descr
                  p.additional-order--info__descr-mini Цена:
                  p.additional-order--info__descr 150 000 р.
          form.additional-order--form
            .additional-order--form-row
              input.additional-order--input(type="text", placeholder="Номер телефона +7")
              input.additional-order--submit(type="submit", value='Заказать')
        .additional-order.swiper-slide
          p.additional-order--header Справка о наличии (отсутствии) судимости
          .additional-order--body
            p.additional-order--descr
              | Результатом предоставления государственной услуги является получение
              | заявителем: справки о наличии (отсутствии) судимости (в том числе погашенной и снятой) и (или) факта уголовного преследования либо о прекращении уголовного преследования или письма об отказе в выдаче справки о наличии (отсутствии) судимости
            .additional-order--info
              .additional-order--info__wrapper
                img.additional-order-svg(src="/assets/img/svg/clock.svg", alt="", srcset="")
                .additional-order--info__descr
                  p.additional-order--info__descr-mini Срок:
                  p.additional-order--info__descr 5 дней
              .additional-order--info__wrapper
                img.additional-order-svg(src="/assets/img/svg/price.svg", alt="", srcset="")
                .additional-order--info__descr
                  p.additional-order--info__descr-mini Цена:
                  p.additional-order--info__descr 150 000 р.
          form.additional-order--form
            .additional-order--form-row
              input.additional-order--input(type="text", placeholder="Номер телефона +7")
              input.additional-order--submit(type="submit", value='Заказать')
      .additional-order--pagination
