section.screen__main.screen__landing(style="background-image: url('./assets/img/bg__landing.jpg')")
  .container
    .row
      .col-xl-7.col-12
        h1.header__h1.--white
          | Оформление допуска СРО за 1–3 дня!
        p.subheader.--white
          | Работаем по всей России.
        .list__wrapper
          p.list__header.--white
            | Вы получаете:
          ul.list--you-get
            li.list__item
              svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
                path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
              | Допуск СРО без комиссии, оплата производится напрямую в СРО.
            li.list__item
              svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
                path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
              | Все наши СРО успешно прошли проверку РосТехНадзора.
            li.list__item
              svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
                path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
              | Гарантированно проходите все необходимые проверки.
      .col-xl-5.col-12
        form.form__order-consult
          p Узнать условия вступления в СРО с бесплатным представлением специалистов в НРС.
          .form__order-consult--input__wrapper
            input.form__order-consult--input(name="name", type="text", placeholder="Ваше имя")
            input.form__order-consult--input(name="phone", type="text", placeholder="Номер телефона +7")
            button.btn.btn__order-consult
              | Получить консультацию
              .btn__order-consult-arrow
                svg.btn__order-consult-svg(xmlns='http://www.w3.org/2000/svg', width='18', height='14', viewBox='0 0 18 14')
                  g
                    g
                      path(d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
          p.subform Нажимая эту форму, вы даёте согласие на обработку персональных данных.
