extends ./screen__landings.pug

block variablesLanding
  - var header = 'Онлайн-сервис выдачи надежных Финансовых продуктов';
  - var subheader = '';
  - var list =['Предварительное одобрение за 10 минут', 'Только проверенные банки', 'Работаем по всей России'];
  - var headerForm = 'Получить консультацию от наших специалистов.';
