extends ./screen__landings.pug

block variablesLanding
  - var header = 'Предоставим специалистов внесенных в НРС или гарантированно внесем ваших';
  - var subheader = '';
  - var list =['Внесение в <span>&nbsp;НОСТРОЙ&nbsp;</span> и <span>&nbsp;НОПРИЗ&nbsp;</span> от 1-ого дня.', 'Предоставление специалистов, внесенных в НРС за час.', 'Работаем по всей России, <span>100%</span> гарантия по договору!'];
  - var headerForm = 'Узнать условия внесения Ваших специалистов в НРС';
  - var steps = [{"name":"Оставить заявку", "descr":"После оставления заявки, наш менеджер свяжется с вами и обсудит все детали."},{"name":"Согласовать услугу", "descr":"Для начала нужно будет согласовать услугу. Менеджер вам детально расскажет про каждую нашу услугу все плюсы и минусы и тд."},{"name":"Заключить договор и оплатить счет", "descr":"После согласования услуги. Нужно будет заключить договор любым удобным для вас способом - онлайн на нашем сайте либо у нас на офисе."},{"name":"Готовим и подаем документы в НРС", "descr":"После подписания договора и оплаты, мы собираем все докумендны и готовим их к подаче в НРС."},{"name":"Получить уведомление о готовности документов", "descr":"Как только документы будут готовы, мы сразу уведомим вас. Вы сможете их забрать у нас на офисе в любое время."}];
