section.screen-main__company
  .container
    .row
      h2.header__h2.col-12.text-center Одна компания
      p.subheader__main.col-12.text-center для решения всех юридических вопросов
    include ../sliders/slider__services.pug
