section.screen__you-get(style='background-color: #e8eaee')
  .container
    .row
      h2.header__h2.col-12.text-center Документы,которые вы получаете
    .card__you-get-wrapper
      .card__you-get
        img.card__you-get-img(src="./assets/img/vipiska.jpg", alt="", srcset="")
        p.card__you-get-descr Выписка СРО
      .card__you-get
        img.card__you-get-img(src="./assets/img/vipiska.jpg", alt="", srcset="")
        p.card__you-get-descr Выписка СРО
      .card__you-get
        img.card__you-get-img(src="./assets/img/vipiska.jpg", alt="", srcset="")
        p.card__you-get-descr Выписка СРО
    .row
      p.screen__you-get-notify Полученный допуск будет соответствовать всем требованиям действующего законодательства России. Он выдаётся бессрочно. Будет действовать на всей территории России, пока ваша организация отвечает всем требованиям членства в СРО.
