extends ./screen__landings.pug

block variablesLanding
  - var header = 'Оформление допуска СРО за 1–3 дня!';
  - var subheader = 'Работаем по всей России.';
  - var list =['Допуск СРО без комиссии, оплата производится напрямую в СРО.', 'Все наши СРО успешно прошли проверку РосТехНадзора.', 'Гарантированно проходите все необходимые проверки.'];
  - var headerForm = 'Узнать условия вступления в СРО с бесплатным представлением специалистов в НРС.';
