section.screen__news
  .container
    .row
      h2.col-12.text-center Статьи и новости
    .row
      ul#myTab.nav.nav-tabs.tabs__news(role='tablist')
        li.nav-item.tabs__news-item
          a#news-tab.nav-link.tabs__news-link.active(data-toggle='tab', href='#news', role='tab', aria-controls='news', aria-selected='true') Новости
        li.nav-item.tabs__news-item
          a#articles-tab.nav-link.tabs__news-link(data-toggle='tab', href='#articles', role='tab', aria-controls='articles', aria-selected='false') Статьи
  #myTabContent.container.tab-content.tabs__news-content
    #news.row.tabs__news-tab.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='news-tab')
      a.col-3.tabs__news-tab--link(href="#")
        img.tabs__news-tab--img(src="../../../../assets/img/news-demo1.jpg", alt="")
      a.col-3.tabs__news-tab--link(href="#")
        img.tabs__news-tab--img(src="../../../../assets/img/news-demo2.jpg", alt="")
      a.col-3.tabs__news-tab--link(href="#")
        img.tabs__news-tab--img(src="../../../../assets/img/news-demo3.jpg", alt="")
      a.col-3.tabs__news-tab--link(href="#")
        img.tabs__news-tab--img(src="../../../../assets/img/news-demo4.jpg", alt="")
    #articles.row.tabs__news-tab.tab-pane.fade(role='tabpanel', aria-labelledby='articles-tab')
      a.col-3.tabs__news-tab--link(href="#")
        img.tabs__news-tab--img(src="../../../../assets/img/news-demo1.jpg", alt="")
      a.col-3.tabs__news-tab--link(href="#")
        img.tabs__news-tab--img(src="../../../../assets/img/news-demo4.jpg", alt="")
      a.col-3.tabs__news-tab--link(href="#")
        img.tabs__news-tab--img(src="../../../../assets/img/news-demo2.jpg", alt="")
      a.col-3.tabs__news-tab--link(href="#")
        img.tabs__news-tab--img(src="../../../../assets/img/news-demo3.jpg", alt="")
    .tabs__news-more
      a#news-tab.nav-link.tabs__news-link(href='#') Смотреть все новости
