section.section__permission(style='background-color: #f3f5f9;')
  .container
    .row
      h2.header__h2 Как быстро оформить допуск СРО?
      ul.progress-tracker.progress-tracker--text.progress-tracker--text-top
        li.progress-step
          .progress-text
            | Заявка
          .progress-marker
        li.progress-step
          .progress-text
            | Договор
          .progress-marker
        li.progress-step
          .progress-text
            | Сбор документов
          .progress-marker
        li.progress-step
          .progress-text
            | Оплата
          .progress-marker
        li.progress-step
          .progress-text
            | Получение выписки
          .progress-marker
      .permission__card-wrapper
        .permission__card
          p.permission__card-counter 1
          p.permission__card-header Оставить<br> заявку
          svg.permission__card-svg(width='50' height='50' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 50 50' fill='#00aaff' fill-opacity='1')
            g
              g
                g
                  path(d='M38.99586,35v4h-4v2h4v4h2v-4h4v-2h-4v-4zM39.99586,32c4.42969,0 8,3.57031 8,8c0,4.42969 -3.57031,8 -8,8c-4.42969,0 -8,-3.57031 -8,-8c0,-4.42969 3.57031,-8 8,-8zM39.99586,30c-5.51172,0 -10,4.48828 -10,10c0,5.51172 4.48828,10 10,10c5.51172,0 10,-4.48828 10,-10c0,-5.51172 -4.48828,-10 -10,-10zM13.99586,30v2h16v-2zM6.99586,30v2h4v-2zM13.99586,25v2h23v-2zM6.99586,25v2h4v-2zM13.99586,20v2h23v-2zM6.99586,20v2h4v-2zM13.99586,15v2h23v-2zM6.99586,15v2h4v-2zM2.80836,2h38.375c0.46484,0 0.8125,0.34766 0.8125,0.8125v4.1875h-40v-4.1875c0,-0.46484 0.34766,-0.8125 0.8125,-0.8125zM2.80836,0c-1.53516,0 -2.8125,1.27734 -2.8125,2.8125v5c-0.00781,0.0625 -0.00781,0.125 0,0.1875v32c0,0.55078 0.44922,1 1,1h26c0.35937,0.00391 0.69531,-0.18359 0.87891,-0.49609c0.17968,-0.3125 0.17968,-0.69532 0,-1.00782c-0.1836,-0.3125 -0.51954,-0.5 -0.87891,-0.49609h-25v-30h40v18c-0.00391,0.35938 0.18359,0.69531 0.49609,0.87891c0.3125,0.17968 0.69532,0.17968 1.00782,0c0.3125,-0.1836 0.5,-0.51953 0.49609,-0.87891v-19c0.00781,-0.0625 0.00781,-0.125 0,-0.1875v-5c0,-1.53516 -1.27734,-2.8125 -2.8125,-2.8125z')
        .permission__card
          p.permission__card-counter 2
          p.permission__card-header Заключить<br> договор
          svg.permission__card-svg(width='50' height='50' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 50 50' fill='#00aaff' fill-opacity='1')
            g
              g
                g
                  path(d='M38.99586,35v4h-4v2h4v4h2v-4h4v-2h-4v-4zM39.99586,32c4.42969,0 8,3.57031 8,8c0,4.42969 -3.57031,8 -8,8c-4.42969,0 -8,-3.57031 -8,-8c0,-4.42969 3.57031,-8 8,-8zM39.99586,30c-5.51172,0 -10,4.48828 -10,10c0,5.51172 4.48828,10 10,10c5.51172,0 10,-4.48828 10,-10c0,-5.51172 -4.48828,-10 -10,-10zM13.99586,30v2h16v-2zM6.99586,30v2h4v-2zM13.99586,25v2h23v-2zM6.99586,25v2h4v-2zM13.99586,20v2h23v-2zM6.99586,20v2h4v-2zM13.99586,15v2h23v-2zM6.99586,15v2h4v-2zM2.80836,2h38.375c0.46484,0 0.8125,0.34766 0.8125,0.8125v4.1875h-40v-4.1875c0,-0.46484 0.34766,-0.8125 0.8125,-0.8125zM2.80836,0c-1.53516,0 -2.8125,1.27734 -2.8125,2.8125v5c-0.00781,0.0625 -0.00781,0.125 0,0.1875v32c0,0.55078 0.44922,1 1,1h26c0.35937,0.00391 0.69531,-0.18359 0.87891,-0.49609c0.17968,-0.3125 0.17968,-0.69532 0,-1.00782c-0.1836,-0.3125 -0.51954,-0.5 -0.87891,-0.49609h-25v-30h40v18c-0.00391,0.35938 0.18359,0.69531 0.49609,0.87891c0.3125,0.17968 0.69532,0.17968 1.00782,0c0.3125,-0.1836 0.5,-0.51953 0.49609,-0.87891v-19c0.00781,-0.0625 0.00781,-0.125 0,-0.1875v-5c0,-1.53516 -1.27734,-2.8125 -2.8125,-2.8125z')
        .permission__card
          p.permission__card-counter 3
          p.permission__card-header Отправить нам<br> документы
          svg.permission__card-svg(width='50' height='50' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 50 50' fill='#00aaff' fill-opacity='1')
            g
              g
                g
                  path(d='M38.99586,35v4h-4v2h4v4h2v-4h4v-2h-4v-4zM39.99586,32c4.42969,0 8,3.57031 8,8c0,4.42969 -3.57031,8 -8,8c-4.42969,0 -8,-3.57031 -8,-8c0,-4.42969 3.57031,-8 8,-8zM39.99586,30c-5.51172,0 -10,4.48828 -10,10c0,5.51172 4.48828,10 10,10c5.51172,0 10,-4.48828 10,-10c0,-5.51172 -4.48828,-10 -10,-10zM13.99586,30v2h16v-2zM6.99586,30v2h4v-2zM13.99586,25v2h23v-2zM6.99586,25v2h4v-2zM13.99586,20v2h23v-2zM6.99586,20v2h4v-2zM13.99586,15v2h23v-2zM6.99586,15v2h4v-2zM2.80836,2h38.375c0.46484,0 0.8125,0.34766 0.8125,0.8125v4.1875h-40v-4.1875c0,-0.46484 0.34766,-0.8125 0.8125,-0.8125zM2.80836,0c-1.53516,0 -2.8125,1.27734 -2.8125,2.8125v5c-0.00781,0.0625 -0.00781,0.125 0,0.1875v32c0,0.55078 0.44922,1 1,1h26c0.35937,0.00391 0.69531,-0.18359 0.87891,-0.49609c0.17968,-0.3125 0.17968,-0.69532 0,-1.00782c-0.1836,-0.3125 -0.51954,-0.5 -0.87891,-0.49609h-25v-30h40v18c-0.00391,0.35938 0.18359,0.69531 0.49609,0.87891c0.3125,0.17968 0.69532,0.17968 1.00782,0c0.3125,-0.1836 0.5,-0.51953 0.49609,-0.87891v-19c0.00781,-0.0625 0.00781,-0.125 0,-0.1875v-5c0,-1.53516 -1.27734,-2.8125 -2.8125,-2.8125z')
        .permission__card
          p.permission__card-counter 4
          p.permission__card-header Оплатить<br> взносы в СРО
          svg.permission__card-svg(width='50' height='50' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 50 50' fill='#00aaff' fill-opacity='1')
            g
              g
                g
                  path(d='M38.99586,35v4h-4v2h4v4h2v-4h4v-2h-4v-4zM39.99586,32c4.42969,0 8,3.57031 8,8c0,4.42969 -3.57031,8 -8,8c-4.42969,0 -8,-3.57031 -8,-8c0,-4.42969 3.57031,-8 8,-8zM39.99586,30c-5.51172,0 -10,4.48828 -10,10c0,5.51172 4.48828,10 10,10c5.51172,0 10,-4.48828 10,-10c0,-5.51172 -4.48828,-10 -10,-10zM13.99586,30v2h16v-2zM6.99586,30v2h4v-2zM13.99586,25v2h23v-2zM6.99586,25v2h4v-2zM13.99586,20v2h23v-2zM6.99586,20v2h4v-2zM13.99586,15v2h23v-2zM6.99586,15v2h4v-2zM2.80836,2h38.375c0.46484,0 0.8125,0.34766 0.8125,0.8125v4.1875h-40v-4.1875c0,-0.46484 0.34766,-0.8125 0.8125,-0.8125zM2.80836,0c-1.53516,0 -2.8125,1.27734 -2.8125,2.8125v5c-0.00781,0.0625 -0.00781,0.125 0,0.1875v32c0,0.55078 0.44922,1 1,1h26c0.35937,0.00391 0.69531,-0.18359 0.87891,-0.49609c0.17968,-0.3125 0.17968,-0.69532 0,-1.00782c-0.1836,-0.3125 -0.51954,-0.5 -0.87891,-0.49609h-25v-30h40v18c-0.00391,0.35938 0.18359,0.69531 0.49609,0.87891c0.3125,0.17968 0.69532,0.17968 1.00782,0c0.3125,-0.1836 0.5,-0.51953 0.49609,-0.87891v-19c0.00781,-0.0625 0.00781,-0.125 0,-0.1875v-5c0,-1.53516 -1.27734,-2.8125 -2.8125,-2.8125z')
        .permission__card
          p.permission__card-counter 5
          p.permission__card-header Получить скан<br> выписки
          svg.permission__card-svg(width='50' height='50' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 50 50' fill='#00aaff' fill-opacity='1')
            g
              g
                g
                  path(d='M38.99586,35v4h-4v2h4v4h2v-4h4v-2h-4v-4zM39.99586,32c4.42969,0 8,3.57031 8,8c0,4.42969 -3.57031,8 -8,8c-4.42969,0 -8,-3.57031 -8,-8c0,-4.42969 3.57031,-8 8,-8zM39.99586,30c-5.51172,0 -10,4.48828 -10,10c0,5.51172 4.48828,10 10,10c5.51172,0 10,-4.48828 10,-10c0,-5.51172 -4.48828,-10 -10,-10zM13.99586,30v2h16v-2zM6.99586,30v2h4v-2zM13.99586,25v2h23v-2zM6.99586,25v2h4v-2zM13.99586,20v2h23v-2zM6.99586,20v2h4v-2zM13.99586,15v2h23v-2zM6.99586,15v2h4v-2zM2.80836,2h38.375c0.46484,0 0.8125,0.34766 0.8125,0.8125v4.1875h-40v-4.1875c0,-0.46484 0.34766,-0.8125 0.8125,-0.8125zM2.80836,0c-1.53516,0 -2.8125,1.27734 -2.8125,2.8125v5c-0.00781,0.0625 -0.00781,0.125 0,0.1875v32c0,0.55078 0.44922,1 1,1h26c0.35937,0.00391 0.69531,-0.18359 0.87891,-0.49609c0.17968,-0.3125 0.17968,-0.69532 0,-1.00782c-0.1836,-0.3125 -0.51954,-0.5 -0.87891,-0.49609h-25v-30h40v18c-0.00391,0.35938 0.18359,0.69531 0.49609,0.87891c0.3125,0.17968 0.69532,0.17968 1.00782,0c0.3125,-0.1836 0.5,-0.51953 0.49609,-0.87891v-19c0.00781,-0.0625 0.00781,-0.125 0,-0.1875v-5c0,-1.53516 -1.27734,-2.8125 -2.8125,-2.8125z')
