block cardsAdvantages
  - var cards = [{"name": "Официально","descr": "Наша компания является официальным партнёром большинства СРО, поэтому вы не платите дополнительных комиссий. Только предусмотренные законом платежи.","img": "./assets/img/svg/adv__officcial.svg"},{"name": "Надёжно","descr": "Мы работаем только с СРО, проверенными нашими сотрудниками, и гарантируем исполнение обязательств.","img": "./assets/img/svg/adv__reliably.svg"},{"name": "Удобно","descr": "Наши специалисты возьмут на себя всё взаимодействие с СРО, подготовят необходимые документы. Мы даём 100% гарантию вступления и прохождения любых проверок.","img": "./assets/img/svg/adv__comfort.svg"},{"name": "Быстро","descr": "Мы имеем огромный опыт работы, и поэтому можем быстро и правильно собрать весь пакет документов.","img": "./assets/img/svg/adv__fast.svg"},{"name": "Выгодно","descr": "При необходимости подберём лучшее предложение по страхованию, найдём специалистов, оформим сертификат ISO.","img": "./assets/img/svg/adv__profitable.svg"},{"name": "Безопасно","descr": "Мы даём 100% гарантию вступления и прохождения любых проверок.","img": "./assets/img/svg/adv__safely.svg"}];

section.screen__advantages(style='backgorund-color: #fff')
  .container
    .row
      .col-12
        h2.header__h2.text-center Наши преимущества
    include ../cards/cards-advantages.pug
