section.screen__bankguaranties-products(style="background-color: #f3f5f9")
  .container
    .row
      h2.header__h2.col-12.text-center Финансовые продукты
    include ../cards/cards-bank-products.pug
