- var cards =[{"name":"Выписка СРО", "img": "./assets/img/vipiska.jpg"},{"name":"Страховой полис", "img": "./assets/img/insurance.jpg"},{"name":"Сертификат ISO", "img": "./assets/img/iso_cert.jpg"}];

section.screen__you-get(style='background-color: #e8eaee')
  .container
    .row
      h2.header__h2.col-12.text-center Документы,которые вы получаете
    .card__you-get-wrapper
      each card in cards
        .card__you-get
          img.card__you-get-img(src=card.img, alt="", srcset="")
          p.card__you-get-descr #{card.name}
    .row
      p.screen__you-get-notify Полученный допуск будет соответствовать всем требованиям действующего законодательства России. Он выдаётся бессрочно. Будет действовать на всей территории России, пока ваша организация отвечает всем требованиям членства в СРО.
