section.screen__mchs-need(style="background-color: #f3f5f9")
  .container
    .row
      .col-12
        h2.header__h2.text-center Кому необходимо оформить лицензию МЧС?
      .col-8.offset-2
        p.screen__mchs-need-subheader Оформление лицензии МЧС необходимо в том случае, когда Вы собираетесь осуществлять деятельность, связанную с выполнением работ по огнезащите материалов, изделий и конструкций, а также монтажом, техническим обслуживанием и ремонтом:
    .row
      .col-lg-6.col-12
        .card__mchs-need
          svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
            path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
          p.card__mchs-need-descr Систем пожаротушения и их элементов
      .col-lg-6.col-12
        .card__mchs-need
          svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
            path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
          p.card__mchs-need-descr Фотолюминесцентных эвакуационных систем и их элементов
      .col-lg-6.col-12
        .card__mchs-need
          svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
            path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
          p.card__mchs-need-descr Систем пожарной и охранно-пожарной сигнализации и их элементов
      .col-lg-6.col-12
        .card__mchs-need
          svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
            path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
          p.card__mchs-need-descr Противопожарных занавесов и завес
      .col-lg-6.col-12
        .card__mchs-need
          svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
            path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
          p.card__mchs-need-descr Систем противопожарного водоснабжения и их элементов
      .col-lg-6.col-12
        .card__mchs-need
          svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
            path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
          p.card__mchs-need-descr Первичных средств пожаротушения
      .col-lg-6.col-12
        .card__mchs-need
          svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
            path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
          p.card__mchs-need-descr Автоматических систем противодымной вентиляции
      .col-lg-6.col-12
        .card__mchs-need
          svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
            path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
          p.card__mchs-need-descr Заполнений проемов в противопожарных преградах
      .col-lg-6.col-12
        .card__mchs-need
          svg.svg-inline--fa.fa-check.fa-w-16(data-icon='check', data-prefix='fas', role='img', aria-hidden='true', width='16', height='16', focusable='false', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
            path(fill='#34c899', d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
          p.card__mchs-need-descr Систем оповещения и эвакуации при пожаре и их элементов
      .col-lg-6.col-12
        p.card__mchs-need-descr.--transparent При отсутствии лицензии МЧС выполнение работ, перечисленных выше, незаконно.
