section.screen__bankguaranties-payment(style='background-image: url(./assets/img/bg__timeline.jpg)')
  .container
    .row
      h2.header__h2.col-12.text-center.--white Расчет стоимости <br /> финансовых продуктов
    .row.bankguaranties-payment__wrapper
      .col-md-5.col-12.offset-md-2
        .bankguaranties-payment__widget
      .col-md-5.col-12.bankguaranties-payment__descr-wrapper
        p.bankguaranties-payment__descr Калькулятор ориентировочной стоимости финансовых продуктов просчитает возможные предложения среди наших банков-партнеров, которые прошли проверку надежности
