section.screen__servicepacks(style="background-color: #f3f5f9")
  .container
    .row
      h2.header__h2.col-12.text-center Пакеты услуг
    .servicepack__outer
      .servicepack
        .servicepack__head
          img.servicepack__img(src="../../../../assets/img/svg/sp__builders.svg", alt="", srcset="")
          h3.servicepack__header СРО<br> Строителей
        .servicepack__body
          .servicepack__list
            .servicepack__item
              p.servicepack__item-name Ком. фонд
              p.servicepack__item-price 100 000 р.
            .servicepack__item
              p.servicepack__item-name Членский взнос
              p.servicepack__item-price 5 000 р.
            .servicepack__item
              p.servicepack__item-name Целевой взнос
              p.servicepack__item-price 6 500 р.
            .servicepack__item
              p.servicepack__item-name Вступительный взнос
              p.servicepack__item-price 5 000 р.
            .servicepack__item
              p.servicepack__item-name Страхование
              p.servicepack__item-price 10 000 р.
          p.servicepack__total от 126 500 р.
          a.servicepack__btn(data-target='#modalform', data-toggle="modal", href='#') Вступить!
      .servicepack
        .servicepack__head
          img.servicepack__img(src="../../../../assets/img/svg/sp__projects.svg", alt="", srcset="")
          h3.servicepack__header СРО<br> Проектировщиков
        .servicepack__body
          .servicepack__list
            .servicepack__item
              p.servicepack__item-name Ком. фонд
              p.servicepack__item-price 50 000 р.
            .servicepack__item
              p.servicepack__item-name Членский взнос
              p.servicepack__item-price 5 000 р.
            .servicepack__item
              p.servicepack__item-name Целевой взнос
              p.servicepack__item-price 6 500 р.
            .servicepack__item
              p.servicepack__item-name Вступительный взнос
              p.servicepack__item-price 5 000 р.
            .servicepack__item
              p.servicepack__item-name Страхование
              p.servicepack__item-price
                span в подарок
          p.servicepack__total от 65 500 р.
          a.servicepack__btn(data-target='#modalform', data-toggle="modal", href='#') Вступить!
      .servicepack
        .servicepack__head
          img.servicepack__img(src="../../../../assets/img/svg/sp__izisk.svg", alt="", srcset="")
          h3.servicepack__header СРО<br> Изыскателей
        .servicepack__body
          .servicepack__list
            .servicepack__item
              p.servicepack__item-name Ком. фонд
              p.servicepack__item-price 50 000 р.
            .servicepack__item
              p.servicepack__item-name Членский взнос
              p.servicepack__item-price 5 000 р.
            .servicepack__item
              p.servicepack__item-name Целевой взнос
              p.servicepack__item-price 6 500 р.
            .servicepack__item
              p.servicepack__item-name Вступительный взнос
              p.servicepack__item-price 5 000 р.
            .servicepack__item
              p.servicepack__item-name Страхование
              p.servicepack__item-price
                span в подарок
          p.servicepack__total от 65 500 р.
          a.servicepack__btn(data-target='#modalform', data-toggle="modal", href='#') Вступить!
