section.screen__mchs-callback
  .container
    .row
      .col-12
        h2.text-center.header__h2.--white Обратный звонок
      form.screen__mchs-callback--form.col-12(action="#" method="post")
        .row
          .col-md-4.col-12
            input(name="city", type="text", placeholder="Город")
          .col-md-4.col-12
            input(name="phone", type="text", placeholder="Телефон")
          .col-md-4.col-12
            button
              span Заказать расчет
              .arrow
                svg(xmlns='http://www.w3.org/2000/svg', width='18', height='14', viewBox='0 0 18 14')
                  g
                    g
                      path(d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
