.swiper-container.slider-main__actions
  .swiper-wrapper
    .swiper-slide.col-12.slider-main__actions--slide
      img.col-12.slider-main__actions--slide--img(src="../../../../assets/img/svg/monitor-chekmark.svg", alt="")
      .slider-main__actions--slide--info
        h3.slider-main__actions--slide--header Все действия в одном клиенте
        p.slider-main__actions--slide--descr Все взаимодействие с нами можно осуществлять дистанционно никогда не приезжая в наш офис.
        button.btn.btn__services
          | Наши услуги и цены
          .btn__services-arrow
            svg.btn__services-svg(xmlns='http://www.w3.org/2000/svg', width='18', height='14', viewBox='0 0 18 14')
              g
                g
                  path(d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
    .swiper-slide.col-12.slider-main__actions--slide
      img.col-12.slider-main__actions--slide--img(src="../../../../assets/img/svg/monitor-chekmark.svg", alt="")
      .slider-main__actions--slide--info
        h3.slider-main__actions--slide--header Все действия в одном клиенте
        p.slider-main__actions--slide--descr Все взаимодействие с нами можно осуществлять дистанционно никогда не приезжая в наш офис.
        button.btn.btn__services
          | Наши услуги и цены
          .btn__services-arrow
            svg.btn__services-svg(xmlns='http://www.w3.org/2000/svg', width='18', height='14', viewBox='0 0 18 14')
              g
                g
                  path(d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
    .swiper-slide.col-12.slider-main__actions--slide
      img.col-12.slider-main__actions--slide--img(src="../../../../assets/img/svg/monitor-chekmark.svg", alt="")
      .slider-main__actions--slide--info
        h3.slider-main__actions--slide--header Все действия в одном клиенте
        p.slider-main__actions--slide--descr Все взаимодействие с нами можно осуществлять дистанционно никогда не приезжая в наш офис.
        button.btn.btn__services
          | Наши услуги и цены
          .btn__services-arrow
            svg.btn__services-svg(xmlns='http://www.w3.org/2000/svg', width='18', height='14', viewBox='0 0 18 14')
              g
                g
                  path(d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
  .slider-main__actions--pagination
  .slider-main__actions--slide--prev
    img(src="../../../../assets/img/svg/slider-chevron.svg", alt="")
  .slider-main__actions--slide--next
    img(src="../../../../assets/img/svg/slider-chevron.svg", alt="")
