.slider-landing__partners.swiper-container
  .swiper-wrapper
    .slider-landing__partners-item.swiper-slide
      img.slider-landing__partners-item-img(src="/assets/img/partner1.jpg", alt="")
    .slider-landing__partners-item.swiper-slide
      img.slider-landing__partners-item-img(src="/assets/img/partner2.jpg", alt="")
    .slider-landing__partners-item.swiper-slide
      img.slider-landing__partners-item-img(src="/assets/img/partner3.jpg", alt="")
    .slider-landing__partners-item.swiper-slide
      img.slider-landing__partners-item-img(src="/assets/img/partner4.jpg", alt="")
    .slider-landing__partners-item.swiper-slide
      img.slider-landing__partners-item-img(src="/assets/img/partner5.jpg", alt="")
    .slider-landing__partners-item.swiper-slide
      img.slider-landing__partners-item-img(src="/assets/img/partner6.jpg", alt="")


  .slider-landing__partners--pagination
