article.article
  .article__body
    h1 Пользовательское соглашение
    p Настоящие Условия использования уведомляют Вас о защите информации, содержащейся на данном веб-узле, а так же о правилах пользования такой информации. Просим Вас внимательно ознакомиться с нижеуказанными Условиями использования. Правообладатель оставляет за собой право вносить соответствующие изменения в Условия использования, являющиеся обязательными для всех пользователей веб-сайта
    h2 Интеллектуальное права.
    p Вся информация, представленная на данном веб-сайте принадлежит ГК ЭКСПЕРТИЗА и предназначена для свободного просмотра неограниченного круга лиц. Разрешается использование материалов (распечатывание, копирование) в объеме, необходимом для просмотра веб-сайта при условии уведомления третьих лиц о праве собственности. Любое иное воспроизведение или распространение всех или частей элементов и сведений с настоящего веб-сайта, в т.ч. в коммерческих целей, без предварительного разрешения правообладателя влечет за собой наступление ответственности предусмотренной законодательством РФ.
    .document__footer
      a.document__btn(href='#')
        svg.document__btn-svg(data-icon='download' data-prefix='fas' role='img' aria-hidden='true' width='16' height='16' focusable='false' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
          path(fill='#fff' d='M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49c20.1 20.1 52.5 20.1 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z')
        | Скачать
      a.document__btn(href='#')
        svg.document__btn-svg(data-icon='print' data-prefix='fas' role='img' aria-hidden='true' focusable='false' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512' width='16' height='16')
          path(fill='currentColor' d='M448 192V77.25c0-8.49-3.37-16.62-9.37-22.63L393.37 9.37c-6-6-14.14-9.37-22.63-9.37H96C78.33 0 64 14.33 64 32v160c-35.35 0-64 28.65-64 64v112c0 8.84 7.16 16 16 16h48v96c0 17.67 14.33 32 32 32h320c17.67 0 32-14.33 32-32v-96h48c8.84 0 16-7.16 16-16V256c0-35.35-28.65-64-64-64zm-64 256H128v-96h256v96zm0-224H128V64h192v48c0 8.84 7.16 16 16 16h48v96zm48 72c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24z')
        | Напечатать
