form.form__leave-request
  h4 Оставить заявку
  .form__leave-request--input__wrapper
    input.form__leave-request--input(name="name", type="text", placeholder="Ваше имя")
    input.form__leave-request--input(name="phone", type="text", placeholder="Номер телефона +7")
    button.btn.btn__leave-request(data-target='#modalform', data-toggle="modal")
      | Получить консультацию
      .btn__leave-request-arrow
        svg.btn__leave-request-svg(xmlns='http://www.w3.org/2000/svg', width='18', height='14', viewBox='0 0 18 14')
          g
            g
              path(d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
    p Нажимая эту форму, вы даёте согласие на обработку персональных данных.
