.review__outer
  .review__head
    img.review__img(src="./assets/img/reviewer.png", alt="", srcset="")
  .review__body
    .review__info
      h2 Благодарность
      p.review__paragraph Общество с ограниченной ответственностью «Мобильное приложение ЛАФЙ» выражает благодарность ООО «НТЦ ЭКСПЕРТИЗА» за качесвенно выполненные услуги по подтверждению соответствия продукции.
      p.review__paragraph Особенно благодарим специалистов Вашей компании за оперативную и кропотливую работу.
      p.review__paragraph Мы можем рекомендовать ООО «НТЦ ЭКСПЕРТИЗА» как хорошо организованную команду профессионалов, знающих свое дело.
      .review__info-footer
        p Исполнительные директор
        p ООО «МП Лафй»
    .cards
      .cards__head
        img.cards__img(src="./assets/img/svg/pdf.svg", alt="")
      .cards__body
        .cards__info
          h3.cards__name Пользовательское соглашение
          p.cards__date 20.05.2019
        a.cards__download(href='#')
          img.card__download-img(src="./assets/img/svg/download.svg", alt="")
